#QiProgressList {
	width: 570px;
	height: 500px;
}

#QiProgressListBody {
    overflow: auto;
}

#qi_roundswitch {
    padding: 2px;
}

#QiProgressTable img {
    max-height: 25px;
    border-radius: 2px;
}

#QiProgressTable .tdmin {
    width: 1%;
    white-space: nowrap;
}

#QiProgressPlayerDetails {
    width: 400px;
}

#QiProgressPlayerDetails .pname {
	padding: 10px 5px;
	color: var(--text-bright);
	font-size: 1.0rem;
}