/*
* **************************************************************************************
*
* Dateiname:                 main.css
* Projekt:                   foe
*
* erstellt von:              Daniel Siekiera <ds@optimondo.de>
* erstellt am:	              22.01.19 21:13 Uhr
* zu letzt bearbeitet:       22.01.19 21:13 Uhr
*
* Copyright © 2019 - Optimondo GmbH
*
* **************************************************************************************
*/

body {
    min-width: 350px;
    padding: 25px;
	font-size: 0.8rem;
}

.foe-link {
	color: #007bff;
	cursor: pointer;
}