/*
 * **************************************************************************************
 *
 * Dateiname:                 eventmap.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              27.12.19, 12:31 Uhr
 * zuletzt bearbeitet:       27.12.19, 12:31 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

 #event {
	top: 30%;
	right: 15%;
	width: 450px;
}

#event #eventBody {
	overflow-x: hidden;
	overflow-y: auto;
	/* min-height: 100px; */
	max-height: 500px;
}

#event #eventBody .event-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

#event #eventBody .event-head > * {
	width: 100%;
}

#event #eventBody .event-head strong {
	color: #FFB539;
}

#event #eventBody tr.total-row td {
	border-top: 2px solid #efcf9a;
	font-weight: 700;
}

#event #eventBody tr.resource-row td {
	color: #FFB539;
	font-weight: 700;
}

#event #eventBody .text-danger {
	color: #ef1616;
	font-weight: 700;
}

#event #eventBody .text-success {
	color: #29b206;
	font-weight: 700;
}

#event #eventBody .text-muted {
	color: #8a8a8a;
}

#event #eventBody td {
	position: relative;
}

#event #eventBody .diplomacy-ask {
	font-weight: 700;
	display: inline-block;
	margin-left: 6px;
	background: #2196f3;
	padding: 0 4px;
	border-radius: 50%;
	width: 10px;
	line-height: 1.3em;
	z-index: 1;
}

#event #eventBody .diplomacy-tip {
	position: absolute;
	white-space: nowrap;
	text-align: left;
	background: rgba(0,0,0, 0.7);
	padding: 5px;
	right: 6px;
	top: 25px;
	z-index: 1;
	display: none;
}

#event #eventBody .diplomacy-ask:hover .diplomacy-tip {
	display: block;
}
