/*
 * **************************************************************************************
 *
 * Dateiname:                 eventmap.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              27.12.19, 12:31 Uhr
 * zuletzt bearbeitet:       27.12.19, 12:31 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

 #event {
	top: 30%;
	right: 15%;
	width: 500px;
}

#event #eventBody {
	overflow-x: hidden;
	overflow-y: auto;
	/* min-height: 100px; */
	max-height: 500px;
}

#event #eventBody .event-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

#event #eventBody .event-head > * {
	width: 100%;
}

#event #eventBody .event-head strong {
	color: #FFB539;
}

#event #eventBody tr.active-quest td {
	border-top: 2px solid #FFB539;
	border-bottom: 2px solid #FFB539;
}
#event #eventBody tr.active-quest td:first-child {
	border-left: 2px solid #FFB539;
}
#event #eventBody tr.active-quest td:last-child {
	border-right: 2px solid #FFB539;
}

#event #eventBody tr td.nr {
	color: #FFB539;
	font-weight: 700;
}

#event #eventBody tr td.upcoming {
	color: #FFB539;
	font-weight: 600;
}

#event #eventBody td {
	position: relative;
}