/*
 * **************************************************************************************
 *
 * Dateiname:                 style-menu.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              16.12.19, 19:53 Uhr
 * zuletzt bearbeitet:       16.12.19, 19:37 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */


#foe-helper-hud {
	position: absolute;
	right: 0;
	z-index: 150;
	width: 64px;
	height: 270px;
	top: 515px;
	padding-top: 24px;
	padding-bottom: 24px;
	transition: height 0.2s linear;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.75rem;
	font-weight: 400;
}

#foe-helper-hud::before,
#foe-helper-hud::after,
.hud-btn,
.hud-btn-up::before,
.hud-btn-up-active::before,
.hud-btn-down::before,
.hud-btn-down-active::before {
	background: url('../images/hud/menu-right.png') top left no-repeat;
}

#foe-helper-hud::before {
	content: '';
	width: 64px;
	height: 26px;
	position: absolute;
	top: 0;
	left: 0;
}

#foe-helper-hud::after {
	content: '';
	width: 64px;
	height: 24px;
	background-position: bottom left;
	position: absolute;
	bottom: 0;
	left: 0;
}


#foe-helper-hud-wrapper {
	width: 64px;
	height: 220px;
	position: absolute;
	right: 0;
	top: 26px;
	overflow: hidden;
	background: url('../images/hud/menu-bg-right.png') top left repeat-y
}

#foe-helper-hud-slider {
	position: absolute;
	top: 0;
	right: 3px;
	transition: top 0.7s ease-in-out;
}

.hud-btn-up,
.hud-btn-down {
	position: absolute;
	width: 56px;
	height: 15px;
	right: 1px;
	display: block;
	z-index: 1;
}

.hud-btn-up {
	top: 5px;
	right: 2px;
}

.hud-btn-down {
	bottom: 4px;
}

.hud-btn-up::before,
.hud-btn-down::before {
	content: '';
	width: 56px;
	height: 16px;
	display: block;
	position: absolute;
	right: 1px;
}

.hud-btn-up::before {
	background-position: -65px 0;
}

.hud-btn-down::before {
	bottom: 1px;
	transform: scaleY(-1);
	background-position: -66px -1px;
}

.hud-btn-up-active::before {
	background-position: -123px 0;
}
.hud-btn-up-active:hover::before {
	background-position: -65px -16px;
}

.hud-btn-down-active::before {
	background-position: -124px -1px;
}

.hud-btn-down-active:hover::before {
	background-position: -124px -17px;
}

.hud-btn {
	display: block;
	background-position: -122px -33px;
	width: 55px;
	height: 55px;
	position: relative;
}

.hud-btn-red {
	background-position: -65px -33px;
}

.hud-btn span:first-child {
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 38px;
	height: 38px;
	background-size: contain;
	position: absolute;
	top: 8px;
	left: 9px;
}

.menu-placeholder {
	width: 55px;
	height: 55px;
	background: url('../images/hud/menu-right.png') -122px -90px no-repeat;
}

/* ---------------------------------------------------------------------------------------------------------------------
Tooltip */

.toolTipWrapper {
	right: 67px;
	top: 50%;
	transform: translateY(-50%);
}

.toolTipWrapper::after {
	content: '';
	width: 18px;
	height: 31px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -22px;
	background: url('../images/hud/tooltip_bg_arrow_right.png') center center no-repeat;
}