/*
 * **************************************************************************************
 *
 * Dateiname:                 boxes.css
 * Projekt:                   foe
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * zu letzt bearbeitet:       20.11.19, 21:55 Uhr
 *  
 * Copyright © 2019
 *
 * **************************************************************************************
 */

.window-head span.window-minimize,
.OwnPartBoxBackground .outerArrow:before,
.OwnPartBoxBackground .outerArrow span.arrow {
	background-image: url('https://foede.innogamescdn.com/assets/shared/gui/itembar/itembar_0.png');
}

#SettingsBoxBody .item .item-row .check {
	background-image: url('../images/setting-cb.png');
}

/* ---------------------------------------------------------------------------------------- */

.window-box {
	background: url('../images/box-bg.png') center center repeat;
	z-index: 100;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.9rem;
	font-weight: 400;
	color: #F3D6A0;
	position: absolute;
	text-align: left;
	padding: 1px;
	border-color: transparent;
	border-width: 35px 10px 10px 10px;
	border-style: solid;
	border-image-source: url('../images/window.png');
	border-image-slice: 54 28 28;
	border-image-width: 54px 28px 28px;
	border-image-repeat: round;
	border-image-outset: 0.3;
	border-radius: 20px;
	user-select: none;
}

.window-head {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -30px;
	left: 7px;
	right: 1px;
}

.window-head span.title {
	font-weight: 700;
	display: block;
	font-size: 1rem;
}

.window-head span:nth-child(2) {
	margin-left: auto;
}

.window-head span.window-ask {
	display: inline-block;
	background-position: -1858px -204px;
	margin-right: 3px;
	width: 26px;
	height: 24px;
	position: relative;
}

.window-head span.window-ask:hover {
	background-position: -1830px -220px;
}

.window-head span.window-minimize {
	background-position:-144px -35px;
	margin-right: 3px;
	width: 26px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.window-head span.window-speaker {
	height: 22px;
	display: inline-block;
	position: relative;
	background-position: 0 0;
	width: 42px;
	margin-right: 3px;
	top: 1px;
}

.window-head span.window-speaker:hover {
    background-position: -42px 0;
}

.window-head span.window-speaker.deactivated {
	background-position: 42px 22px;
}

.window-head span.window-speaker.deactivated:hover {
	background-position: 0 -22px;
}

.open .window-head span.window-minimize:hover {
	background-position: -144px -59px;
}

.closed .window-head span.window-minimize {
	background-position: -168px -35px;
}

.closed .window-head span.window-minimize:hover {
	background-position: -168px -59px;
}

.window-head span.window-close {
	display: inline-block;
	background: transparent url('../images/close.png') -1px -1px no-repeat;
	width: 26px;
	height: 24px;
	position: relative;
}

.window-head span.window-close:hover {
	background-position: -1px -27px;
}

.window-body {
	height: 100%;
	overflow: hidden;
}
.window-body select {
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	font-size: 0.8rem;
	line-height: 18px;
	padding: 2px 5px;
}

.closed .window-body {
	height: 0 !important;
}

.closed .window-head {
    top: -37px !important;
}

.window-grippy {
	position: absolute;
	width: 16px;
	height: 16px;
	padding: 4px;
	bottom: -8px;
	right: -7px;
	cursor: nwse-resize;
	background: url('../images/wingrip.png') no-repeat;
}

/*--------------------------------------------------------------------------*/


#costCalculator {
	top: 30%;
	left: 30px;
	width: 340px;
}

#costCalculator #costCalculatorBody {
	position: relative;
}

#costCalculator #costCalculatorBody .lg-not-possible {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.7);
}

#costCalculator #costCalculatorBody .lg-not-possible::after {
	content: attr(data-text);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 240px;
}

#costCalculator #costCalculatorBody input {
	display: inline-block;
	width: 25px;
	text-align: center;
	padding: 1px 5px;
	line-height: 1.5;
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#costCalculator #costCalculatorBody strong {
	color: #FFB539;
}

#costCalculator #costCalculatorBody p.header {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#costCalculator #costCalculatorBody p.header span {
	color: #F3D6A0;
}

#costCalculator #costCalculatorBody td.error,
#costCalculator #costCalculatorBody td .error {
	color: #ef1616;
}

#costCalculator #costCalculatorBody strong.success {
	color: #29b206;
}

#costCalculator #costCalculatorBody .text-grey,
#costCalculator #costCalculatorBody .text-grey strong.success {
	color: #9a9a9a;
	opacity: 0.5;
}

#costCalculator #costCalculatorBody strong.info,
#costCalculator #costCalculatorBody tr.info-row strong {
	color: #2196f3;
}

#costCalculator #costCalculatorBody tr.bg-green {
	background-color: rgba(18, 125, 9, 0.3);
}

#costCalculator #costCalculatorBody tr.bg-red {
	background-color: rgba(121, 8, 8, 0.3);
}

#costCalculator #costCalculatorBody tr.bg-yellow {
	background-color: rgba(208, 126, 3, 0.4);
}

#costCalculatorBody .costFactorWrapper > span {
	display: inline-block;
	margin-right: 15px;
}

#costCalculatorBody .costFactorWrapper .btn-default:not(:first-child) {
	display: inline-block;
	margin-left: 3px;
}

#costCalculatorBody #costTable {
	user-select: text;
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

#LGOverviewBox {
	top: 30%;
	right: 15%;
	width: 400px;
}

#LGOverviewBox .head-bar {
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}

#LGOverviewBox .head-bar .color-description {
	display: inline-block;
	margin-left: auto;
}

#LGOverviewBox .head-bar .color-description span {
	display: block;
}

#LGOverviewBox strong,
#LGOverviewBox .head-bar strong {
	color: #FFB539;
}

#LGOverviewBox strong.warning {
	color: #FF6000;
}

#LGOverviewBox strong.success {
	color: #29b206;
}

#LGOverviewBox #LGOverviewBoxBody .nothing-to-get {
	line-height: 50px;
}

#LGOverviewBox #LGOverviewBoxBody .color-description {
	font-weight: 700;
	display: inline-block;
	margin-left: 6px;
	background: #2196f3;
	padding: 0 4px;
	border-radius: 50%;
	width: 10px;
	line-height: 1.3em;
	z-index: 1;
}

#LGOverviewBox #LGOverviewBoxBody .color-description > span {
	position: absolute;
	white-space: nowrap;
	text-align: left;
	background: rgba(0,0,0, 0.8);
	padding: 10px;
	right: 33px;
	top: 14px;
	z-index: 1;
	display: none;
	transition: all 0.2s linear;
}

#LGOverviewBox #LGOverviewBoxBody .color-description:hover > span {
	display: block;
}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

#OwnPartBox {
	top: 100px;
	right: 100px;
	width: 380px;
	font-size: 80%;
}

#OwnPartBox.closed .OwnPartBoxBackground {
	display: none;
}

#OwnPartBox .OwnPartDrops {
	display: flex;
}

#OwnPartBox .OwnPartDrops div:first-child {
	min-width: 90px;
	margin-right: 10px;
}

#OwnPartBox .OwnPartDrops .dropLGStepSelect {
	min-width: 40px;
}

#OwnPartBox .OwnPartDrops .inputWrapper {
	margin-left: auto;
	position: relative;
	top: -3px;
}

#OwnPartBox .OwnPartDrops .inputWrapper input {
	max-width: 45px;
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	text-align: right;
	margin: 0;
	font-size: 0.8rem;
	height: 15px;
}

#OwnPartBox .OwnPartDrops div select {
	line-height: 1.5;
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	max-width: 160px;
}

#OwnPartBoxBodyWrapper {
	margin-top: 10px;
}

#OwnPartBox #OwnPartBoxBody {
	position: relative;
	margin-left: 0;
}

#OwnPartBox #OwnPartBoxBody .btn-set-arc {
	margin-right: 5px;
}


#OwnPartBox #OwnPartBoxBody strong {
	color: #ffb539;
}

#OwnPartBox #OwnPartBoxBody strong.normal {
	color: #F3D6A0;
}

#OwnPartBox #OwnPartBoxBody strong.success {
	color: #29b206;
}

#OwnPartBox #OwnPartBoxBody strong.info {
	color: #2196f3;
}

#OwnPartBox #OwnPartTable .error {
	color: #8b0000;
}

#OwnPartBox #OwnPartTable input {
	line-height: 1.5;
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	width: 35px;
	text-align: center;
}

#OwnPartBox #arc-percent {
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	text-align: center;
	width: 30px;
	margin: 0 5px;
}

#OwnPartBox .black-bg {
	position: absolute;
	background-color: rgba(0,0,0, 0.65);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.OwnPartBoxBackground {
	position: absolute;
	width: 210px;
	top: 0;
	left: -6px;
}

.OwnPartBoxBackground .divider {
	display: block;
	height: 0;
	margin: 10px auto;
	width: 80%;
	border-top: 1px solid #7b5730;
	border-bottom: 1px solid #9e774e;
}

.OwnPartBoxBackground .outerArrow:before {
	content: "";
	width: 36px;
	height: 36px;
	background-position: -197px -36px;
	transform: rotate(-90deg);
	position: absolute;
	top: -13px;
	left: -33px;
	z-index: -1;
}

.OwnPartBoxBackground .outerArrow span.arrow {
	width: 24px;
	height: 24px;
	background-position: -169px -59px;
	position: absolute;
	top: -6px;
	left: -27px;
}

.OwnPartBoxBackground .outerArrow span.arrow:hover {
	background-position: -169px -83px;
}

.show .OwnPartBoxBackground .outerArrow span.arrow {
	background-position: -145px -35px;
}

.show .OwnPartBoxBackground .outerArrow span.arrow:hover {
	background-position: -145px -59px;
}


.OwnPartBoxBackground .OwnPartBoxBackgroundBody {
	width: 252px;
	height: 0;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	top: 0;
	left: 34px;
	padding: 0 15px;
	border-width: 0 10px 10px 10px;
	border-image-width: 0 28px 28px;
	opacity: 0;
}

.OwnPartBoxBackgroundBody > div > span:not(.btn-default) {
	display: inline-block;
	width: 70px;
}

.OwnPartBoxBackground .btn-outer {
	margin-bottom: 6px;
}

.OwnPartBoxBackground input[type=text],
.OwnPartBoxBackground select {
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	font-size: 0.8rem;
	height: 18px;
	width: 164px;
	margin-bottom: 10px;
	padding: 2px 5px;
}

.OwnPartBoxBackground select {
	height: 22px;
	width: 176px;
}

.OwnPartBoxBackground .checkboxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.OwnPartBoxBackground label.form-check-label {
	padding: 1px;
	line-height: 1.4rem;
	margin-bottom: 5px;
	background-color: rgba(255,255,255, 0.07);
	width: 75px;
	vertical-align: middle;
	transition: background-color 0.3s linear;
}


.OwnPartBoxBackground label.form-check-label:hover {
	background-color: rgba(255,255,255, 0.1);
}


/*--------------------------------------------------------------------------*/


#ResultBox {
	top: 20%;
	right: 30px;
	width: 420px;
}

#ResultBox #ResultBoxBody {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 440px;
	margin-top: 2px;
}

#ResultBox #ResultBoxBody .show-entity {
	display: block;
	width: 20px;
	height: 20px;
}

#ResultBox #ResultBoxBody .show-entity img {
	width: 20px;
	height: 20px;
}

#ResultBox #ResultBoxBody table tr td:first-child {
	white-space: nowrap;
}

#ResultBox #ResultBoxBody tr:not(.success) strong {
	color: #ffb539;
}


/*--------------------------------------------------------------------------*/


#Productions {
	top: 100px;
	left: 100px;
	width: 480px;
	padding: 5px 0 0 0;
}


#Productions #ProductionsBody {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 500px;
	margin-top: 2px;
}

#Productions table tr.building-type td {
	padding-top: 15px;
}

#Productions #ProductionsBody strong {
	color: #ffb539;
}

#Productions #ProductionsBody table .sorter-header th {
	position: relative;
}

#Productions #ProductionsBody table .sorter-header .ascending:after,
#Productions #ProductionsBody table .sorter-header .descending:after {
	color: #ffb539;
	position: absolute;
	top: -3px;
	font-size: 20px;
}

#Productions #ProductionsBody table .sorter-header .ascending:after {
	content: "↑";
}
#Productions #ProductionsBody table .sorter-header .descending:after {
	content: "↓";
}

#Productions #ProductionsBody table td {
	font-size: 85%;
}

#Productions #ProductionsBody table tbody.parent th {
	background-color: #3f2a1b;
	color: #ffb539;
	padding-top: 15px;
	position: sticky;
	top: 0;
}

#Productions #ProductionsBody table tr.highlight-row {
	background-color: rgba(40, 18, 7, 0.8);
	color: #ffb539;
}

#Productions #ProductionsBody table #all-search {
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	line-height: 18px;
}

#Productions #ProductionsBody table th .change-view {
	display: inline-block;
	background: transparent url('../images/btn-bg.png') 0 -2px no-repeat;
	width: 174px;
	height: 22px;
	margin: 3px 0 3px 3px;
	text-align: center;
}

#Productions #ProductionsBody table tr.sorter-header th {
	position: sticky;
	top: 0;
	background-color: rgba(0,0,0, 0.35);
}

#Productions #ProductionsBody table th .change-view:hover {
	background-position: 0 -27px;
}

#Productions #ProductionsBody table td.all-products span {
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
	background-color: rgba(0,0,0, 0.4);
	margin: 0 8px 5px 0;
	white-space: nowrap;
}

#Productions #ProductionsBody table td.total-products span {
	display: inline-block;
	padding: 2px 4px;
	color: #ffb539;
	white-space: nowrap;
}


#Productions #ProductionsBody .tabs ul li:hover {
	background-position: -167px -765px;
}

#Productions #ProductionsBody .tabs ul li.active {
	background-position: -167px -799px;
}

#Productions #ProductionsBody .tabs ul li a {
	background: transparent url('../images/productions.png') 0 0 no-repeat;
}
#Productions #ProductionsBody .tabs ul li.strategy_points a {
	background-position: 0 0;
}
#Productions #ProductionsBody .tabs ul li.money a {
	background-position: -26px 0;
}
#Productions #ProductionsBody .tabs ul li.supplies a {
	background-position: -51px 0;
}
#Productions #ProductionsBody .tabs ul li.medals a {
	background-position: -78px 0;
}
#Productions #ProductionsBody .tabs ul li.packaging a {
	background-position: -103px 0;
}
#Productions #ProductionsBody .tabs ul li.all a {
	background-position: -128px 0;
}

/*--------------------------------------------------------------------------*/

#BackgroundInfo {
	top: 20%;
	right: 30px;
	width: 470px;
	padding: 2px;
}

#BackgroundInfo #BackgroundInfoBody {
	overflow: auto;
	max-height: 350px;
}

#BackgroundInfo #BackgroundInfoBody strong {
	color: #ffb539;
}

#BackgroundInfo #BackgroundInfoBody .filter-row {
	line-height: 1rem;
	display: flex;
	align-items: center;
	background-color: rgba(0,0,0, 0.5);
	position: sticky;
	top: 0;
	padding: 5px;
}

#BackgroundInfo #BackgroundInfoBody .filter-row span {
	display: inline-block;
	margin-right: 15px;
}

#BackgroundInfo #BackgroundInfoBody .filter-row span input {
	position: relative;
	margin: 0;
	top: 2px;
}

#BackgroundInfo #BackgroundInfoBody .filter-row .btn-reset-box {
	margin-left: auto;
}

/*--------------------------------------------------------------------------*/

#SettingsBox {
	top: 50%;
	left: 50%;
	width: 610px;
	height: 330px;
	font-size: 80%;
	transform: translate(-50%, -50%);
}

#SettingsBoxBody {
	overflow-y: auto;
}

#SettingsBoxBody .SettingsBoxBodyInner {
	padding: 8px;
}

#SettingsBoxBody .item {
	border: .5px solid #7f5a34;
	margin-bottom: 15px;
	box-shadow: 0 4px 3px 0 rgba(0,0,0, 0.2);
}

#SettingsBoxBody .item .title {
	box-shadow: 0 20px 12px -22px rgba(235,222,185,0.3) inset;
	border-bottom: 1px solid rgb(65,41,17);
	padding: 4px 10px;
	font-weight: 700;
	color: #ffcc68;
	background-color: rgba(0,0,0,0.15);
}

#SettingsBoxBody .item .item-row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}

#SettingsBoxBody .item .item-row .desc {
	width: 66%;
	padding: 10px;
}

#SettingsBoxBody .item .item-row .check {
	position: relative;
	display: inline-block;
	width: 173px;
	height: 32px;
}

#SettingsBoxBody .item .item-row .unchecked {
	background-position: 0 -32px;
}

#SettingsBoxBody .item .item-row .check input.setting-check {
	position: absolute;
	right: 3px;
	top: 7px;
	width: 21px;
	transform: scale(1.5, 1.5);
}

#SettingsBoxBody .item .item-row .check span.toogle-word {
	display: block;
	width: 141px;
	text-align: center;
	line-height: 32px;
	font-size: 0.9rem;
	color: #b0bbcd;
	font-weight: 700;
}

#SettingsBoxBody .item .item-row .btn-default,
#SettingsBoxBody .item .item-row .setting-dropdown {
	width: 172px;
	padding: 4px 0;
}


/* -------------------------------------------------------------------------------------------------- */

#tavern-boost {
	position: absolute;
	right: 70px;
	top: 80px;
	z-index: 100;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.8rem;
	font-weight: 400;
	width: 140px;
	height: 96px;
	user-select: none;
	color: #efcf9a;
	background: url('../images/tavern-badge.png') center center no-repeat;
}

#tavern-boost > span {
	position: absolute;
	display: block;
	text-align: center;
	top: 40px;
	left: 0;
	width: 140px;
}

#tavern-boost span {
	user-select: none;
}


/* ------------------------------------------------------------------------------------------------------------------ */
#outpostConsumables {
	top: 30%;
	right: 15%;
	width: 620px;
}

#outpostConsumables #outpostConsumablesBody tr.total-row td {
	border-top: 2px solid #efcf9a;
	font-weight: 700;
}

#outpostConsumables #outpostConsumablesBody tr.resource-row td {
	color: #FFB539;
	font-weight: 700;
}

#outpostConsumables #outpostConsumablesBody .text-danger {
	color: #ef1616;
	font-weight: 700;
}

#outpostConsumables #outpostConsumablesBody .text-success {
	color: #29b206;
	font-weight: 700;
}

#outpostConsumables #outpostConsumablesBody .text-muted {
	color: #8a8a8a;
}

#outpostConsumables #outpostConsumablesBody td {
	position: relative;
}

#outpostConsumables #outpostConsumablesBody .diplomacy-ask {
	font-weight: 700;
	display: inline-block;
	margin-left: 6px;
	background: #2196f3;
	padding: 0 4px;
	border-radius: 50%;
	width: 10px;
	line-height: 1.3em;
	z-index: 1;
}

#outpostConsumables #outpostConsumablesBody .diplomacy-tip {
	position: absolute;
	white-space: nowrap;
	text-align: left;
	background: rgba(0,0,0, 0.7);
	padding: 5px;
	right: 6px;
	top: 25px;
	z-index: 1;
	display: none;
}

#outpostConsumables #outpostConsumablesBody .diplomacy-ask:hover .diplomacy-tip {
	display: block;
}

/* ------------------------------------------------------------------------------------------------------------------ */
#technologies {
    top: 30%;
    right: 15%;
    width: 450px;
}

	#technologies #technologiesBody {
		overflow-x: hidden;
		overflow-y: auto;
		min-height: 300px;
		max-height: 500px;
	}

	#technologies #technologiesBody .techno-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px;
	}

	#technologies #technologiesBody .techno-head > * {
		width: 33.333334%;
	}

	#technologies #technologiesBody .techno-head strong {
		color: #FFB539;
	}

    #technologies #technologiesBody tr.total-row td {
        border-top: 2px solid #efcf9a;
        font-weight: 700;
    }

    #technologies #technologiesBody tr.resource-row td {
        color: #FFB539;
        font-weight: 700;
    }

    #technologies #technologiesBody .text-danger {
        color: #ef1616;
        font-weight: 700;
    }

    #technologies #technologiesBody .text-success {
        color: #29b206;
        font-weight: 700;
    }

    #technologies #technologiesBody .text-muted {
        color: #8a8a8a;
    }

    #technologies #technologiesBody td {
        position: relative;
    }

    #technologies #technologiesBody .diplomacy-ask {
        font-weight: 700;
        display: inline-block;
        margin-left: 6px;
        background: #2196f3;
        padding: 0 4px;
        border-radius: 50%;
        width: 10px;
        line-height: 1.3em;
        z-index: 1;
    }

    #technologies #technologiesBody .diplomacy-tip {
        position: absolute;
        white-space: nowrap;
        text-align: left;
        background: rgba(0,0,0, 0.7);
        padding: 5px;
        right: 6px;
        top: 25px;
        z-index: 1;
        display: none;
    }

    #technologies #technologiesBody .diplomacy-ask:hover .diplomacy-tip {
        display: block;
    }

/* ------------------------------------------------------------------------------------------------------------------ */

#negotiation {
    top: 30%;
    right: 15%;
    width: 600px;
}
	#negotiation #negotiationBody p {
		margin-top: 10px;
		font-size: 140%;
	}

    #negotiation #negotiationBody tr.total-row td {
        border-top: 2px solid #efcf9a;
        font-weight: 700;
    }

    #negotiation #negotiationBody tr.resource-row td {
        color: #FFB539;
        font-weight: 700;
    }

    #negotiation #negotiationBody .text-danger {
        color: #ef1616;
        font-weight: 700;
    }

    #negotiation #negotiationBody .text-success {
        color: #29b206;
        font-weight: 700;
    }

    #negotiation #negotiationBody .text-muted {
        color: #8a8a8a;
    }

    #negotiation #negotiationBody td {
        position: relative;
    }

    #negotiation #negotiationBody .diplomacy-ask {
        font-weight: 700;
        display: inline-block;
        margin-left: 6px;
        background: #2196f3;
        padding: 0 4px;
        border-radius: 50%;
        width: 10px;
        line-height: 1.3em;
        z-index: 1;
    }

    #negotiation #negotiationBody .diplomacy-tip {
        position: absolute;
        white-space: nowrap;
        text-align: left;
        background: rgba(0,0,0, 0.7);
        padding: 5px;
        right: 6px;
        top: 25px;
        z-index: 1;
        display: none;
    }

    #negotiation #negotiationBody .diplomacy-ask:hover .diplomacy-tip {
        display: block;
    }

/* ------------------------------------------------------------------------------------------------------------------ */

#units {
	top: 30%;
	right: 15%;
	width: 490px;
}

#units .window-body {
	max-height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
}

.units-icon {
	background: transparent url('https://foede.innogamescdn.com/assets/shared/unit_portraits/armyuniticons_50x50/armyuniticons_50x50_0.png') no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 936px 124px;
}

#units .health {
	display: block;
	background-color: #ff5026;
	height: 5px;
	position: relative;
}

#units .health span {
	position: relative;
	background-color: #1e7e34;
	height: 5px;
	display: block;
	border-radius: 10px;
}

#units span.percent {
	display: block;
	text-align: center;
	font-size: 75%;
	border-radius: 10px;
}

#units #unitsBody .tabs ul li a {
	width: 21px;
	left: 37px;
	background: transparent url('../images/unit-icons.png') 0 3px no-repeat;
	background-size: 90px 20px;
}

#units #unitsBody .tabs ul li.defense a {
	background-position: -21px 3px;
}

#units #unitsBody .tabs ul li.pool a {
	background-position: -41px 3px;
}

#units #unitsBody .tabs ul li.alca a {
	background-position: -67px 3px;
}



.ArcticFuture_champion {background-position: 0 0}
.BronzeAge_champion {background-position: 0 -32px}
.ColonialAge_champion {background-position: 0 -63px}
.ContemporaryEra_champion {background-position: 0 -94px}
.EarlyMiddleAge_champion {background-position: -32px 0}
.FutureEra_champion {background-position: -32px -32px}
.HighMiddleAge_champion {background-position: -32px -63px}
.IndustrialAge_champion {background-position: -32px -94px}
.IronAge_champion {background-position: -63px 0}
.LateMiddleAge_champion {background-position: -63px -32px}
.ModernEra_champion {background-position: -63px -63px}
.OceanicFuture_champion {background-position: -63px -94px}
.PostModernEra_champion {background-position: -94px 0}
.ProgressiveEra_champion {background-position: -94px -32px}
.SpaceAgeMars_champion {background-position: -94px -63px}
.TomorrowEra_champion {background-position: -94px -94px}
.VirtualFuture_champion {background-position: -125px 0}
.aa_vehicle {background-position: -125px -32px}
.anti_material_sniper {background-position: -125px -63px}
.archer {background-position: -125px -94px}
.armored_car {background-position: -157px 0}
.armoredswordsman {background-position: -157px -32px}
.assault_tank {background-position: -157px -63px}
.attack_helicopter {background-position: -157px -94px}
.augmented_samurai {background-position: -188px 0}
.automatic_rifleman {background-position: -188px -32px}
.axe_hammer_warrior {background-position: -188px -63px}
.clubman {background-position: -188px -63px}
.balista {background-position: -188px -94px}
.barbarian {background-position: -219px 0}
.barbarian_slinger {background-position: -219px -32px}
.battle_fortress {background-position: -219px -63px}
.battle_tank {background-position: -219px -94px}
.bazooka {background-position: -250px 0}
.behemoth {background-position: -250px -32px}
.biedenhaender_mercenary {background-position: -250px -63px}
.bombarde {background-position: -250px -94px}
.brave_warrior {background-position: -281px 0}
.breech_loader {background-position: -281px -32px}
.camel_archer {background-position: -281px -63px}
.cannoniers {background-position: -281px -94px}
.cataphract {background-position: -313px 0}
.catapult {background-position: -313px -32px}
.color_guard {background-position: -313px -63px}
.combat_drone {background-position: -313px -94px}
.commando {background-position: -344px 0}
.conscript {background-position: -344px -32px}
.crab_mech {background-position: -344px -63px}
.crossbowman {background-position: -344px -94px}
.dismounted_knight {background-position: -375px 0}
.dragon_drone {background-position: -375px -32px}
.dragoon {background-position: -375px -63px}
.drone_swarm {background-position: -375px -94px}
.exo_soldier {background-position: -406px 0}
.feudal_knight {background-position: -406px -32px}
.gliders {background-position: -406px -63px}
.grenadier {background-position: -406px -94px}
.hoplite {background-position: -437px 0}
.horseman {background-position: -437px -32px}
.hover_tank {background-position: -437px -63px}
.howitzer {background-position: -437px -94px}
.hydroelectric_eel {background-position: -469px 0}
.imperial_knight {background-position: -469px -32px}
.infantry_fighting_vehicle {background-position: -469px -63px}
.jaeger {background-position: -469px -94px}
.javeliner {background-position: -500px 0}
.khopesh_fighter {background-position: -500px -32px}
.lancer {background-position: -500px -63px}
.legionnaire {background-position: -500px -94px}
.longbowman {background-position: -531px 0}
.manta {background-position: -531px -32px}
.marksman {background-position: -531px -63px}
.mech_artillery {background-position: -531px -94px}
.mech_infantry {background-position: -562px 0}
.medusa {background-position: -562px -32px}
.military_drummer {background-position: -562px -63px}
.militiaman {background-position: -562px -94px}
.missile_artillery {background-position: -593px 0}
.mobile_microwave_gun {background-position: -593px -32px}
.mounted_bowman {background-position: -593px -63px}
.mounted_brave {background-position: -593px -94px}
.mounted_legionnaire {background-position: -625px 0}
.nautilus {background-position: -625px -32px}
.ninja {background-position: -625px -63px}
.nubian_archer {background-position: -625px -94px}
.octopod {background-position: -656px 0}
.palintona {background-position: -656px -32px}
.paratrooper {background-position: -656px -63px}
.pikeman {background-position: -656px -94px}
.plasma_artillery {background-position: -687px 0}
.rail_gun_unit {background-position: -687px -32px}
.ranger {background-position: -687px -63px}
.recon_raider {background-position: -687px -94px}
.rf_cannon {background-position: -718px 0}
.rifleman {background-position: -718px -32px}
.rocket_artillery {background-position: -718px -63px}
.rocket_troop {background-position: -718px -94px}
.rogue {background-position: -749px 0}
.ronin_bot {background-position: -749px -32px}
.sat_uplink_unit {background-position: -749px -63px}
.scimitar {background-position: -749px -94px}
.sentinel {background-position: -781px 0}
.slinger {background-position: -781px -32px}
.sniper {background-position: -781px -63px}
.sniperbot {background-position: -781px -94px}
.space_marine {background-position: -812px 0}
.spearman {background-position: -812px -32px}
.stealth_tank {background-position: -812px -63px}
.steel_warden {background-position: -812px -94px}
.strike_team {background-position: -843px 0}
.sub_cruiser {background-position: -843px -32px}
.surrogate_soldier {background-position: -843px -63px}
.tank {background-position: -843px -94px}
.tesla_walker {background-position: -874px 0}
.trebuchet {background-position: -874px -32px}
.turturret {background-position: -874px -63px}
.ultra_ap {background-position: -874px -94px}
.universal_tank {background-position: -905px 0}
.war_chariot {background-position: -905px -32px}
.war_elephant {background-position: -905px -63px}
.warrior_monk {background-position: -905px -94px}


#note-box {
	left: 20%;
	width: 300px;
	top: 20%;
}


/* ------------------------------------------------------------------------------------------------------------------ */

#city-map-overlay {
	left: 15px;
	width: 70em;
	bottom: 15px;
	top: 15px;
}

#city-map-overlayBody.window-body {
	position: relative;
}

#city-map-menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 2px solid #281207;
	height: 30px;
}

#map-container {
	overflow: auto;
	margin-top: 40px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#grid-outer {
	position: relative;
}

#grid-outer * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#grid-outer[data-view="skew"] {
	transform: rotate(33deg) skew(-30deg,-5deg);
}

#map-grid {
	display: flex;
	flex-wrap: wrap;
}

#map-grid span[data-grid] {
	display: inline-block;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

[data-unit="1"] #map-grid {
	width: 60.1em;
	height: 64em;
}
[data-unit="1"][data-view="skew"] {
	transform: translate(0,-20%);
}
[data-unit="1"] #map-grid span[data-grid] {
	width: 1em;
	height: 1em;
}

[data-unit="1.5"] #map-grid {
	width: 40.06666666667em;
	height: 42.666666666667em;
}
[data-unit="1.5"] #map-grid span[data-grid] {
	width: 0.6em;
	height: 0.6em;
}

[data-unit="2"] #map-grid {
	width: 30.05em;
	height: 32em;
}
[data-unit="2"] #map-grid span[data-grid] {
	width: 0.5em;
	height: 0.5em;
}

#grid-outer span.entity {
	display: block;
	background-color: #fff;
	position: absolute;
	z-index: 1;
	border: 1px solid;

	transition: all 0.3s ease-in-out;
}

#grid-outer span.residential {
	background-color: #7abaff;
	border-color: #219eff;
}
#grid-outer span.decoration {
	background-color: #497445;
	border-color: #1c7430;
}
#grid-outer span.street {
	background-color: #6c757d;
	border-color: #6c757d;
}
#grid-outer span.main_building {
	background-color: #ffb100;
	border-color: #ffb100;
}
#grid-outer span.production {
	background-color: #416dff;
	border-color: #2732ff;
}
#grid-outer span.greatbuilding {
	background-color: #ff5026;
	border-color: #ff2101;
}
#grid-outer span.random_production {
	background-color: #a8ff18;
	border-color: #4cff11;
}
#grid-outer span.tower {
	background-color: #cdcdcd;
	border-color: #787a7a;
}

#grid-outer span span {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 2px 3px;
	background-color: #333;
	white-space: nowrap;
}

#grid-outer span:hover span {
	display: inline-block;
}

@-webkit-keyframes pulse {
	0% { -webkit-transform: scale(0.9); opacity: 0.7; }
	50% { -webkit-transform: scale(1); opacity: 1; }
	100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}

@keyframes pulse {
	0% { transform: scale(0.9); opacity: 0.7; }
	50% { transform: scale(1); opacity: 1; }
	100% { transform: scale(0.9); opacity: 0.7; }
}

.pulsate {
	-webkit-animation: pulse 1s infinite ease-in-out;
	-o-animation: pulse 1s infinite ease-in-out;
	-ms-animation: pulse 1s infinite ease-in-out;
	-moz-animation: pulse 1s infinite ease-in-out;
	animation: pulse 1s infinite ease-in-out;
}


.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}

.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #000000;
	border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: #000000;
	border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: #000000;
	border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: #000000;
	border-width: 0 5px 5px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

#DevNode {
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -93px;
}