/*
 * **************************************************************************************
 *
 * Dateiname:                 boxes.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              22.12.19, 14:31 Uhr
 * zuletzt bearbeitet:       22.12.19, 14:23 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

body {
	position: absolute !important;
	height: 100% !important;
	width: 100% !important;
	overflow: hidden;
}

/* Chrome, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance:textfield;
}

/**
	Dropdown
*/
.dropdown {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	width: 9rem;
	border: 1px solid var(--text-dark);
	text-shadow: none;
}

.dropdown input.dropdown-checkbox {
	display: none;
}

.dropdown label.dropdown-label {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	background-color: var(--background-light);

	color: var(--text-medium);
	padding: .4rem;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dropdown span.arrow {
	border: solid var(--text-dark);
	border-width: 0 2px 2px 0;
	display: inline-block !important;
	padding: 3px;
	position: absolute;
	top: 10px;
	right: -1px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transition: transform 0.1s linear;
}

.dropdown ul {
	position: absolute;
	list-style: none;
	text-align: left;
	width: 100%;
	z-index: 1;
	margin:0;
	padding:0;
	box-shadow: 0 1px 1px var(--black-50);

	transition: opacity .15s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.dropdown ul li {
	padding: 0.2rem;
	background-color: var(--background-light);
	color: var(--text-medium);
	font-size: 0.8rem;
	text-shadow: unset;
	border-top: 1px solid var(--text-medium);
}

.dropdown ul li:hover{
	background-color: var(--background-medium);
	color: var(--text-dark);
}

.dropdown ul li label {
	display: flex;
	align-items: center;
}

.dropdown input[type=checkbox]:checked ~ ul {
	opacity: 1;
	height: auto;
}

.dropdown input[type=checkbox]:checked ~ span.arrow {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}


/**
	Buttons
*/
.btn-default {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0.2rem 0.8rem;
	font-size: 0.8rem;
	line-height: 1.5;
	background: var(--background-btn-fallback);
	background: var(--background-btn-moz);
	background: var(--background-btn-webkit);
	background: var(--background-btn);
	border: #2a0f00 1px solid;
	border-radius: 4px;
	color: var(--text-btn);
	cursor: url('../images/cursor_default.cur'), auto;
	transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	outline: none !important;
}

.btn-default[disabled], .btn-default[disabled]:hover {
	color: var(--text-btn-disabled);
	background: var(--background-btn-disabled-fallback);
	background: var(--background-btn-disabled-moz);
	background: var(--background-btn-disabled-webkit);
	background: var(--background-btn-disabled);
}

.btn-default:not([disabled]):hover,
.btn-default-active:not([disabled]){
	background: var(--background-btn-active-fallback);
	background: var(--background-btn-active-moz);
	background: var(--background-btn-active-webkit);
	background: var(--background-btn-active);
	color: var(--text-light);
	cursor: url('../images/cursor_hover.cur'), auto;
	text-shadow: 0 1px 1px var(--black);
}

.btn-tight {
	margin: 1px;
	padding: 1px 4px;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	font-size: 9pt;
	font-family: sans-serif;
}

.btn-green:not([disabled]),
.btn-green:not([disabled]):hover {
	background: var(--background-btn-green-fallback);
	background: var(--background-btn-green-moz);
	background: var(--background-btn-green-webkit);
	background: var(--background-btn-green);
}

.btn-delete, .btn-delete:not([disabled]):hover {
	background: var(--background-btn-red-fallback);
	background: var(--background-btn-red-moz);
	background: var(--background-btn-red-webkit);
	background: var(--background-btn-red);
}

.btn-delete:hover {
	color: var(--text-light);
	background: var(--background-btn-red-active-fallback);
	background: var(--background-btn-red-active-moz);
	background: var(--background-btn-red-active-webkit);
	background: var(--background-btn-red-active);
}

.btn-group {
	display: inline-flex;
}

.btn-group .btn-default.btn-tight {
	margin: 0;
	padding: 1px 4px;
}

.btn-group .btn-default {
	border-radius: 0;
	border-right-width: 0;
	padding: 0.2rem 0.5rem;
}

.btn-group .btn-default:first-child {
	border-radius: 4px 0 0 4px;
}

.btn-group .btn-default:last-child {
	border-radius: 0 4px 4px 0;
	border-right-width: 1px;
}

.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

/* Chrome */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: #281207;
	border-radius: 10px;
}

/* Firefox */
.window-box,
.window-body {
	scrollbar-color: #281207 #57250c;
	scrollbar-width: thin;
}

table {
	border-collapse: collapse;
}

.foe-table {
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	background-color: transparent;
}


table.foe-table {
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	background-color: transparent;
}

table.foe-table thead tr th,
table.foe-table th,
.dark-bg,
.thead th {
	background-color: var(--black-50);
}

.windowbody .dark-bg:last-child {
	margin-bottom: -3px;
	border-radius: 0 0 4px 4px;
}

.dark-bg:hover, table.foe-table tbody tr.dark-bg:nth-child(odd) {
	background-color: var(--black-50) !important;
}

table.foe-table tbody tr:nth-child(odd) {
	background-color: var(--background-table-odd);
}

table.foe-table:not(.no-hover) tbody tr:hover {
	background-color: var(--background-table-hover);
}

table.foe-table tr th,
table.foe-table tr td {
	padding: 2px 5px;
}

table.foe-table tr td {
	border-top: 1px solid var(--border-table-top);
	border-bottom: 1px solid var(--border-table-bottom);
}

table.foe-table tr.success td,
.text-success {
	color: var(--text-success);
}

p {
	margin: 0 0 10px 0;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-light {
	color: var(--text-light);
}

.flex {
	display: flex;
	justify-content: center;
}

.wsnw {
	white-space: nowrap;
}

.text-warning {
	color: var(--text-bright);
}

.text-danger,
.danger {
	color: #f92727;
}

.text-info,
.info {
	color: var(--text-info);
}

.text-muted {
	color: var(--text-muted);
}

.text-bold {
	font-weight: 700;
}

/* MENU ICONS */

#market-Btn span {
	background-image: url('../images/menu/market.png');
}

#moppelhelper-Btn span {
	background-image: url('../images/menu/polivation.png');
}

#fpCollector-Btn span {
	background-image: url('../images/menu/forgepoints.png');
}

#greatbuildings-Btn span {
	background-image: url('../images/menu/greatbuildings.png');
}

#productions-Btn span {
	background-image: url('../images/menu/productions.png');
}

#calculator-Btn span {
	background-image: url('../images/menu/calculator.png');
}

#outpost-Btn span {
	background-image: url('../images/menu/vikings_ship.png');
}

#partCalc-Btn span {
	background-image: url('../images/menu/part-calc.png');
}

#technologies-Btn span {
	background-image: url('../images/menu/technologies.png');
}

#hiddenRewards-Btn span:first-child {
	background-image: url('../images/menu/incident_crates.png');
}

#campagneMap-Btn span {
	background-image: url('../images/menu/map.png');
}

#citymap-Btn span {
	background-image: url('../images/menu/citymap.png');
}

#chat-Btn span {
	background-image: url('../images/menu/chat.png');
}

#settings-Btn span {
	background-image: url('../images/menu/wrench.png');
}

#stats-Btn span {
	background-image: url('../images/menu/stats.png');
}

#infobox-Btn span {
	background-image: url('../images/menu/info.png');
}

#unit-Btn span {
	background-image: url('../images/menu/units.png');
}

#negotiation-Btn span {
	background-image: url('../images/menu/negotation.png');
}

#kits-Btn span {
	background-image: url('../images/menu/kits.png');
}

#alerts-Btn span {
	background-image: url('../images/menu/alerts.png');
}

#notice-Btn span {
	background-image: url('../images/menu/notices.png');
}

#bluegalaxy-Btn span {
	background-image: url('../images/menu/BlueGalaxy.png');
}

#unitsGex-Btn span {
	background-image: url('../images/menu/gex.png');
}

#gildfight-Btn span {
	background-image: url('../images/menu/gbg.png');
}

#investment-Btn span {
	background-image: url('../images/menu/investhistory.png');
}

/***********************************************************************************/

/* ---------------------------------------------------------------------------------------------------------------------
Tabs */

.window-body .tabs ul.horizontal {
	margin: 5px 0 0 0;
	padding: 0 0 0 6px;
	border-bottom: 2px solid var(--border-tab);
}

.window-body .dark-bg .tabs ul.horizontal, .window-body .tabs ul.horizontal.dark-bg {
	padding: 5px 0 0 6px;
	margin: 0;
}

.window-body .tabs ul.horizontal li {
	margin: 0 4px 0 0;
	padding: 0;
	display: inline-block;
	line-height: 33px;
	position: relative;
}

.window-body .tabs ul.horizontal li:hover {
	background-position: 0 -126px;
}

.window-body .tabs ul.horizontal li.active {
	background-position: 0 -126px
}

.window-body .tabs ul.horizontal li a {
	text-decoration: none;
	display: block;
	position: relative;
	padding: 0 8px;
	color: var(--text-tab);
}

.window-body .tabs ul.horizontal li:hover a,
.window-body .tabs ul.horizontal li.active a {
	color: var(--text-tab-active);
}

.window-body .tabs ul.horizontal li a span {
	display: inline-block;
	z-index: 20;
	position: relative;
	top: 1px;
}

.window-body .tabs ul.horizontal li.disabled a span {
	text-decoration: line-through;
}

.window-body .tabs ul.horizontal li a:before {
	content: '';
	position: absolute;
	background-image:  url('../images/hud/tab.png');
	background-repeat: no-repeat;
	background-position: center left;
	width: 50%;
	height: 33px;
	z-index: 1;
	left: 0;
	bottom: 0;
	top: 0;
}

.window-body .tabs ul.horizontal li a:after {
	content: '';
	position: absolute;
	background-image:  url('../images/hud/tab.png');
	background-repeat: no-repeat;
	background-position: center right;
	width: 50%;
	height: 33px;
	z-index: 1;
	right: 0;
	top: 0;
	bottom: 0;
}

.window-body .tabs ul.horizontal li:hover a:before,
.window-body .tabs ul.horizontal li.active a:before,
.window-body .tabs ul.horizontal li.active:hover a:before,
.window-body .tabs ul.horizontal li:hover a:after,
.window-body .tabs ul.horizontal li.active a:after,
.window-body .tabs ul.horizontal li.active:hover a:after {
	background-image:  url('../images/hud/tab-active.png');
	background-repeat: no-repeat;
	background-position: center left;
}

.window-body .tabs ul.horizontal li:hover a:after,
.window-body .tabs ul.horizontal li.active a:after,
.window-body .tabs ul.horizontal li.active:hover a:after {
	background-position: center right;
}

.window-body .tabs > div {
	position: relative;
}

/* vertical Tabs */
.window-body .tabs ul.vertical {
	width: 120px;
	margin: 0;
	padding: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 2px solid var(--border-tab);
}

.window-body .tabs ul.vertical li {
	display: block;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-width: 2px 0 2px 2px;
	border-color: transparent;
	line-height: 24px;
	position: relative;
	right: -2px;
}

.window-body .tabs ul.vertical li:not(:first-child) {
	top: -2px;
}

.window-body .tabs ul.vertical li a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	padding: 3px 5px;
	display: block;
	color: var(--text-normal);
	position: relative;
}

.window-body .tabs ul.vertical li.active,
.window-body .tabs ul.vertical li:hover {
	border-color: var(--border-tab);
	border-radius: 3px 0 0 3px;
}

.window-body .tabs ul.vertical li.active a,
.window-body .tabs ul.vertical li:hover a {
	background-color: rgba(40, 18, 7, 0.8);
	color: var(--text-bright);
}

.window-body .tabs .sub-tab {
	margin-left: 120px;
	border-left: 2px solid #864c1e;
	padding: 10px;
	background-color: rgba(40, 18, 7, 0.8);
}


/*----------------------------------------------------------------------------------------------------------------------
Accordion */

.foehelper-accordion strong,
.foehelper-accordion span {
	display: inline-block;
}

.foehelper-accordion-head {
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
	border-top: 1px solid var(--border-table-top);
	border-bottom: 1px solid var(--border-table-bottom);
	padding: 3px 0;
	position: relative;
}

.foehelper-accordion-head::after {
	content: ' ';
	background-image: url('../images/hud/chevron-left.svg');
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 4px;
}

.foehelper-accordion.open .foehelper-accordion-head::after {
	background-image: url('../images/hud/chevron-down.svg');
}


.foehelper-accordion-body {
	display: none;
	background-color: rgba(0,0,0,0.25);
}

.foehelper-accordion-body div {
	font-size: 90%;
	padding: 2px 0;
}

.foehelper-accordion.open .foehelper-accordion-body {
	display: block;
}

/*----------------------------------------------------------------------------------------------------------------------
FP-Bar */

#fp-bar {
	z-index: 100;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.8rem;
	color: var(--text-normal);
	position: fixed;
	top: 2px;
	left: calc(50vw  + 130px);
	display: flex;
	justify-content: flex-end;
}

#fp-bar .fp-storage,
#fp-bar .buyable-fp {
	margin: 1px 1px 0 0;
	width: 87px;
	height: 26px;
}

#fp-bar .fp-storage {
	background: url('../../js/web/strategy-points/images/fp-bar-storage-bg.png') 0 0 no-repeat;
}
#fp-bar .buyable-fp {
	background: url('../../js/web/strategy-points/images/fp-bar-buyable-bg.png') 0 0 no-repeat;
}

#fp-bar .fp-storage div, #fp-bar .buyable-fp div {
	margin: 5px 0 0 30px;
}

#fp-bar.small-screen .fp-storage, #fp-bar.small-screen .buyable-fp {
	border: 1px solid rgba(243, 214, 160, 0.65);
	border-radius: 4px;
}

#fp-bar.small-screen .fp-storage {
	background-color: rgba(0, 0, 0, 0.75);
}

#fp-bar.small-screen .buyable-fp {
	background-color: rgba(0, 0, 0, 0.75);
}

#fp-bar.main.small-screen {
	top: 50px;
	left: calc(50vw - 46px);
}

#fp-bar.gex.small-screen {
	top: 80px;
}

#fp-bar .fp-bar-main {
	height: 16px;
	width: 109px;
	background: transparent url('../../js/web/strategy-points/images/fp-bar-bg.png') center left no-repeat;
	position: relative;
	top: 7px;
	text-align: left;
	display: flex;
}

#fp-bar .fp-bar-main .number {
	width: 27px;
	text-align: center;
	margin-top: -2px;
}

#fp-bar .fp-bar-main .bars {
	width: 82px;
}

#fp-bar .fp-bar-main .bars span {
	width: 8px;
	height: 14px;
	display: inline-block;
	background: transparent url('../../js/web/strategy-points/images/fp-bar.png') center left;
	background-size: contain;
	position: relative;
	top: 1px;
}

#fp-bar .fp-bar-main .bars span:first-child {
	margin-left: 2px;
}

/*******************************************************************************/

.game-cursor,
.game-cursor option,
.window-minimize,
.window-settings,
.window-map,
.window-close,
.window-head:not(span),
.foe-helper-overlay,
.button-own,
.window-box,
.cursor-default,
.button--lg,
.custom-option,
.hud-btn,
.tabs a {
	cursor: url('../images/cursor_default.cur'), auto;
}

.game-cursor:hover,
.game-cursor option:hover,
.window-minimize:hover,
.window-settings:hover,
.window-map:hover,
.window-close:hover,
.window-head:not(span):hover,
.button-own:hover,
.button--lg:hover,
.hud-btn:hover,
.tabs a:hover {
	cursor: url('../images/cursor_hover.cur'), auto;
}

/*******************************************************************************/

.OwnPartBoxBackground .outerArrow:before,
.OwnPartBoxBackground .outerArrow span.arrow,
.window-minimize,
.window-ask,
.window-settings,
.window-speaker,
.window-close {
	background-image:  url('../images/hud/box-sprite.png'), url('../images/hud/box-sprite.png');
}

/* ---------------------------------------------------------------------------------------- */

.window-box {
	background: url('../images/hud/box-bg.png') center center repeat;
	z-index: 100;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--text-normal);
	text-shadow: 0 1px 1px var(--black-65);
	position: absolute;
	text-align: left;
	padding: 1px;
	top: 30%;
	left: 40%;
	border-color: transparent;
	border-width: 27px 5px 4px 5px;
	border-style: solid;
	border-image-source: url('../images/hud/window.png');
	border-image-slice: 54 28 28;
	border-image-width: 54px 28px 28px;
	border-image-repeat: round;
	border-image-outset: 0.6;
	border-radius: 20px;
	user-select: none;
}

.window-box.closed {
	border-width: 35px 10px 0 10px;
	border-style: solid;
	border-image-source: url('../images/hud/window-closed.png');
	border-image-slice: 54 28 0 28;
	border-image-width: 54px 28px 0 28px;
	border-image-repeat: round;
	border-image-outset: 0.3;
	border-radius: 20px;
	border-bottom: none;
	background-image: none;
	height: 3px !important;
}

.window-head {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -29px;
	left: 7px;
	right: 5px;
}

.window-head span.title {
	font-weight: 700;
	display: block;
	font-size: 1rem;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
}

.window-head span.title small em {
	font-weight: lighter;
}

.window-head span:nth-child(2) {
	margin-left: auto;
}

.window-head span.window-ask {
	display: inline-block;
	background-position: -28px -1px, -2px -26px;
	margin-right: 3px;
	width: 22px;
	height: 22px;
	position: relative;
}

.window-head span.window-ask:hover {
	background-position: -28px -1px, -28px -26px;
}

.window-head span.window-speaker {
	height: 22px;
	display: inline-block;
	position: relative;
	background-position: -105px -2px, -2px -26px;
	width: 22px;
	margin-right: 3px;
}

.window-head span.window-speaker:hover {
	background-position: -146px -2px, -28px -26px;
}

.window-head span.window-speaker.deactivated {
	background-position: -146px -2px, -2px -26px;
}

.window-head span.window-speaker.deactivated:hover {
	background-position: -105px -2px, -28px -26px;
}


.window-head span.window-minimize {
	background-position: -53px -2px, -2px -26px;
	margin-right: 3px;
	width: 22px;
	height: 22px;
	display: inline-block;
	position: relative;
}
.open .window-head span.window-minimize:hover {
	background-position: -53px -2px, -28px -26px;
}
.closed .window-head span.window-minimize {
	background-position: -77px -1px, -2px -26px;
}
.closed .window-head span.window-minimize:hover {
	background-position: -77px -1px, -28px -26px;
}


.window-head span.window-settings {
	background-position: -192px -2px, -2px -26px;
	display: inline-block;
	width: 22px;
	height: 22px;
	position: relative;
	margin-right: 2px;
}

.window-head span.window-settings:hover {
	background-position: -192px -2px, -28px -26px;
}

.window-head span.window-map {
    background-image: url('../images/hud/map.png'), url('../images/hud/box-sprite.png');
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-size: 11px , 240px;
	background-position: 6px, -2px -26px;
}

.window-head span.window-map:hover {
	background-position: 6px, -28px -26px;
}

.window-head span.window-close {
	background-position: -2px -2px, -2px -26px;
	display: inline-block;
	width: 22px;
	height: 22px;
	position: relative;
}

.window-head span.window-close:hover {
	background-position: -2px -2px, -28px -26px;
}

.window-body {
	height: 100%;
	overflow: hidden;
}

.window-body h1 {
	font-size: 135%;
	margin: 0;
	padding: 0.25em 0 0;
}

.window-body input[type=text],
.window-body input[type=number],
.window-body select {
	background-color: var(--background-light);
	color: var(--text-medium);
	background-clip: padding-box;
	border: 1px solid var(--text-dark);
	font-size: 0.8rem;
	line-height: 18px;
	padding: 2px 5px;
	border-radius: 2px;
}

.closed .window-body {
	height: 3px !important;
}

.window-grippy {
	position: absolute;
	width: 16px;
	height: 16px;
	padding: 4px;
	bottom: -8px;
	right: -7px;
	cursor: nwse-resize;
	background: url('../images/hud/wingrip.png') no-repeat;
}
.closed .window-grippy {
	display:none;
}

.on-top {
	z-index: 150;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#note-box {
	left: 20%;
	width: 300px;
	top: 20%;
}

/* ------------------------------------------------------------------------------------------------------------------ */



.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}

.tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 250px;
	padding: 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: var(--black);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: var(--black);
	border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: var(--black);
	border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: var(--black);
	border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: var(--black);
	border-width: 0 5px 5px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.jq-toast-wrap { display: block; position: fixed; pointer-events: none !important; margin: 0; padding: 0; letter-spacing: normal; z-index: 9000 !important; }
.jq-toast-wrap * { margin: 0; padding: 0; }

.jq-toast-wrap.bottom-left { bottom: 162px; left: 20px; right: unset }

.jq-toast-wrap.bottom-right { bottom: 13px; right: 17px; left: unset }
.jq-toast-wrap.menu-rightbar.bottom-right { right: 80px;}
.jq-toast-wrap.menu-bottombar.bottom-right { bottom: 60px;}

.jq-toast-wrap.top-left { top: 20px; left: 20px; right: unset }
.jq-toast-wrap.top-right { top: 20px; right: 40px; left: unset }

.jq-toast-single { display: block; /*width: 100%*/; padding: 10px; margin: 0 0 5px; border-radius: 4px; font-size: 12px; font-family: arial, sans-serif; line-height: 17px; position: relative;  pointer-events: all !important; background-color: #444444; color: white; }

.jq-toast-single h2 { font-family: arial, sans-serif; font-size: 14px; margin: 0 0 7px; background: none; color: inherit; line-height: inherit; letter-spacing: normal; }
.jq-toast-single a { color: #eee; text-decoration: none; font-weight: bold; border-bottom: 1px solid white; padding-bottom: 3px; font-size: 12px; }

.jq-toast-single ul { margin: 0 0 0 15px; background: none; padding:0; }
.jq-toast-single ul li { list-style-type: disc !important; line-height: 17px; background: none; margin: 0; padding: 0; letter-spacing: normal; }

.close-jq-toast-single { position: absolute; top: 3px; right: 7px; font-size: 14px; cursor: pointer; }

.jq-toast-loader { display: block; position: absolute; top: -2px; height: 2px; width: 0; left: 0; border-radius: 5px; background: red; }
.jq-toast-loaded { width: 100%; }
.jq-has-icon { padding: 10px 10px 10px 50px; background-repeat: no-repeat; background-position: 10px; box-shadow: 0 1px 3px black; }

.jq-icon-info {
	background-image: url('../images/hud/info-icon.png'), linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.2)), url('../images/hud/box-bg.png');
	background-position: 12px 20px, top left;
	background-repeat: no-repeat, repeat, repeat;
	color: #d9edf7;
}

.jq-icon-info .jq-toast-heading {
	color: #d9edf7;
}

.jq-icon-warning {
	background-image: url('../images/hud/warning-icon.png'), linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.2)), url('../images/hud/box-bg.png');
	background-position: 12px 20px, top left;
	background-repeat: no-repeat, repeat, repeat;
	color: #fcf8e3;
}

.jq-icon-error {
	background-image: url('../images/hud/error-icon.png'), linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.2)), url('../images/hud/box-bg.png');
	background-position: 12px 20px, top left;
	background-repeat: no-repeat, repeat, repeat;
	color: #f2dede;
}

.jq-icon-success {
	background-image: url('../images/hud/success-icon.png'), linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.2)), url('../images/hud/box-bg.png');
	background-position: 12px 20px, top left;
	background-repeat: no-repeat, repeat, repeat;
	color: #dff0d8;
}

.jq-icon-success .jq-toast-heading {
	color: #63990a;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.custom-select-wrapper {
	position: relative;
	user-select: none;
	width: 100%;
	text-shadow: none;
}
.custom-select {
	position: relative;
	display: flex;
	flex-direction: column;
}
.custom-select__trigger {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-size: 0.8rem;
	height: 24px;
	line-height: 24px;
	background-color: var(--background-light);
	color: var(--text-medium);
	cursor: pointer;
	width: 130px;
}
.custom-options {
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	border-top: 0;
	background-color: var(--background-light);
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-y: auto;
	max-height: 165px;
}
.custom-select.dd-open .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.custom-option {
	position: relative;
	display: block;
	padding: 0 10px;
	font-size: 0.8rem;
	color: var(--text-medium);
	line-height: 24px;
	transition: all 0.5s;
}
.custom-option:hover {
	cursor: pointer;
	background-color: var(--text-normal);
}
.custom-option.selected {
	color: var(--text-bright);
	background-color: var(--text-dark);
}

.custom-select .arrow {
	position: relative;
	height: 15px;
	width: 15px;
}
.custom-select .arrow::before, .custom-select .arrow::after {
	content: "";
	position: absolute;
	bottom: 3px;
	width: 1px;
	height: 50%;
	transition: all 0.5s;
}
.custom-select .arrow::before {
	left: 0;
	transform: rotate(45deg);
	background-color: var(--text-dark);
}
.custom-select .arrow::after {
	left: 5px;
	transform: rotate(-45deg);
	background-color: var(--text-dark);
}
.custom-select.dd-open .arrow::before {
	left: 0;
	transform: rotate(-45deg);
}
.custom-select.dd-open .arrow::after {
	left: 5px;
	transform: rotate(45deg);
}

/*--------------------------------------------------------------------------------------------------------------------*/

.foe-helper-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--black-50);
	width: 100%;
	height: 100%;
	z-index: 250;
	backdrop-filter: blur(5px);
}

/*--- UTILITIES ------------------------------------------------------------------------------------------------------*/

.d-flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.no-select {
	user-select: none !important;
}

/* date picker overwrite */

:root{
	--litepickerBgColor: var(--text-dark) !important;
	--litepickerMonthHeaderTextColor: var(--text-normal) !important;
	--litepickerMonthButton: var(--text-medium) !important;
	--litepickerMonthButtonHover: var(--text-bright) !important;
	--litepickerMonthWidth: calc(var(--litepickerDayWidth) * 7) !important;
	--litepickerMonthWeekdayColor: var(--text-medium) !important;
	--litepickerDayColor: var(--text-normal) !important;
	--litepickerDayColorHover: var(--text-bright) !important;
	--litepickerDayIsTodayColor: var(--text-bright) !important;
	--litepickerDayIsInRange: var(--black-50) !important;
	--litepickerDayIsLockedColor: var(--text-medium) !important;
	--litepickerDayIsBookedColor: var(--text-medium) !important;
	--litepickerDayIsStartColor: var(--text-dark) !important;
	--litepickerDayIsStartBg: var(--text-bright) !important;
	--litepickerDayIsEndColor: var(--text-dark) !important;
	--litepickerDayIsEndBg: var(--text-bright) !important;
	--litepickerDayWidth: 33px !important;
	--litepickerButtonCancelColor: var(--text-dark) !important;
	--litepickerButtonCancelBg: var(--text-medium) !important;
	--litepickerButtonApplyColor: var(--text-dark) !important;
	--litepickerButtonApplyBg: var(--text-bright) !important;
	--litepickerButtonResetBtn: #909090 !important;
	--litepickerButtonResetBtnHover: var(--text-bright) !important;
	--litepickerHighlightedDayColor: #333 !important;
	--litepickerHighlightedDayBg: #ffeb3b !important
}

.litepicker .container__months {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('../../css/images/hud/box-bg.png') 0 0 repeat;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4) !important;
	box-shadow: 0 0 5px rgba(0,0,0,0.4) !important;
	border: 1px solid #000;
}

.litepicker .container__months .month-item-header {
	margin: -5px -5px 0;
	background-color: var(--background-table-odd);
	border-radius: 3px;
}

/*----------------------------------------------------------------------------------------------------------------------
SettingsBox */

.settingsbox-wrapper {
	text-align: left;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 5px solid transparent;
	background: transparent url('../images/hud/box-bg.png') center top no-repeat;
	background-size: cover;
	border-image: url('../images/hud/settings_bg.png') 5 round;
	color: var(--text-normal);
	padding: 10px;
	z-index: 15;
	border-radius: 5px;
	box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);
	min-width: 120px;
	max-width: 280px;
}

.settingsbox-wrapper::after {
	content: '';
	position: absolute;
	background: url('../images/hud/settings_bg_arrow.png') center center no-repeat;
	top: -18px;
	width: 29px;
	height: 18px;
	right: 35px;
}

.settingsbox-wrapper input[type="text"],
.settingsbox-wrapper input[type="number"] {
	text-align: center;
	padding: 1px 5px;
	line-height: 1.5;
	background-color: var(--background-light);
	color: var(--text-medium);
	background-clip: padding-box;
	border: 1px solid var(--text-dark);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.settingsbox-wrapper p:last-child {
	margin-bottom: 0;
}

.settingsbox-wrapper hr {
	border-top: 1px solid var(--text-dark);
	border-bottom: 1px solid var(--text-medium2);
}




.popup-body {
	background: url('../images/hud/box-bg.png') center center repeat;
	z-index: 100;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--text-normal);
	text-shadow: 0 1px 1px var(--black-65);
	user-select: none;
}