/*
 * **************************************************************************************
 *
 * Dateiname:                 boxes.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              22.12.19, 14:31 Uhr
 * zuletzt bearbeitet:       22.12.19, 14:23 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

.window-head span.window-minimize,
.OwnPartBoxBackground .outerArrow:before,
.OwnPartBoxBackground .outerArrow span.arrow {
	background-image: url('https://foede.innogamescdn.com/assets/shared/gui/itembar/itembar_0.png');
}

/* ---------------------------------------------------------------------------------------- */

.window-box {
	background: url('../images/box-bg.png') center center repeat;
	z-index: 100;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.9rem;
	font-weight: 400;
	color: #F3D6A0;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.65);
	position: absolute;
	text-align: left;
	padding: 1px;
	top: 30%;
	left: 40%;
	border-color: transparent;
	border-width: 35px 10px 10px 10px;
	border-style: solid;
	border-image-source: url('../images/window.png');
	border-image-slice: 54 28 28;
	border-image-width: 54px 28px 28px;
	border-image-repeat: round;
	border-image-outset: 0.3;
	border-radius: 20px;
	user-select: none;
}

.window-box.closed {
	border-width: 35px 10px 0 10px;
	border-style: solid;
	border-image-source: url('../images/window-closed.png');
	border-image-slice: 54 28 0 28;
	border-image-width: 54px 28px 0 28px;
	border-image-repeat: round;
	border-image-outset: 0.3;
	border-radius: 20px;
	border-bottom: none;
	background-image: none;
	height: 3px !important;
}

.window-head {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -30px;
	left: 7px;
	right: 1px;
}

.window-head span.title {
	font-weight: 700;
	display: block;
	font-size: 1rem;
}

.window-head span:nth-child(2) {
	margin-left: auto;
}

.window-head span.window-ask {
	display: inline-block;
	background-position: -1858px -204px;
	margin-right: 3px;
	width: 26px;
	height: 24px;
	position: relative;
}

.window-head span.window-ask:hover {
	background-position: -1830px -220px;
}

.window-head span.window-minimize {
	background-position:-144px -35px;
	margin-right: 3px;
	width: 26px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.window-head span.window-speaker {
	height: 22px;
	display: inline-block;
	position: relative;
	background-position: 0 0;
	width: 42px;
	margin-right: 3px;
	top: 1px;
}

.window-head span.window-speaker:hover {
    background-position: -42px 0;
}

.window-head span.window-speaker.deactivated {
	background-position: 42px 22px;
}

.window-head span.window-speaker.deactivated:hover {
	background-position: 0 -22px;
}

.open .window-head span.window-minimize:hover {
	background-position: -144px -59px;
}

.closed .window-head span.window-minimize {
	background-position: -168px -35px;
}

.closed .window-head span.window-minimize:hover {
	background-position: -168px -59px;
}

.window-head span.window-close {
	display: inline-block;
	background: transparent url('../images/close.png') -1px -1px no-repeat;
	width: 26px;
	height: 24px;
	position: relative;
}

.window-head span.window-close:hover {
	background-position: -1px -27px;
}

.window-body {
	height: 100%;
	overflow: hidden;
}

.window-body input[type=text],
.window-body input[type=number],
.window-body select {
	background-color: #F9EBC6;
	color: #93795D;
	background-clip: padding-box;
	border: 1px solid #4C2F1E;
	font-size: 0.8rem;
	line-height: 18px;
	padding: 2px 5px;
}

.closed .window-body {
	height: 3px !important;
}

.window-grippy {
	position: absolute;
	width: 16px;
	height: 16px;
	padding: 4px;
	bottom: -8px;
	right: -7px;
	cursor: nwse-resize;
	background: url('../images/wingrip.png') no-repeat;
}
.closed .window-grippy {
	display:none;
}


	/* ------------------------------------------------------------------------------------------------------------------ */


#note-box {
	left: 20%;
	width: 300px;
	top: 20%;
}


/* ------------------------------------------------------------------------------------------------------------------ */



.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}

.tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #000000;
	border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: #000000;
	border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: #000000;
	border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: #000000;
	border-width: 0 5px 5px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

#DevNode {
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -93px;
}