/*
 * **************************************************************************************
 *
 * Dateiname:                 events.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              08.12.20, 15:00 Uhr
 * zuletzt bearbeitet:       08.12.20, 15:00 Uhr
 *
 * Copyright © 2020
 *
 * **************************************************************************************
 */
.events-sprite-50 {display:inline-block;height:3em;position: relative;}
.events-sprite-50::before{content:"";display:block;background:url('../images/events/events.png') top left no-repeat;background-size:224px 32px;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto}
.events-sprite-50.MoppelEvent::before{background-position:-0px 0;width:32px;height:32px}
.events-sprite-50.TavernVisit::before{background-position:-32px 0;width:32px;height:32px}
.events-sprite-50.Attack::before{background-position:-64px 0;width:32px;height:32px}
.events-sprite-50.Plunder::before{background-position:-96px 0;width:32px;height:32px}
.events-sprite-50.Trade::before{background-position:-128px 0;width:32px;height:32px}
.events-sprite-50.GB::before{background-position:-160px 0;width:32px;height:32px}
.events-sprite-50.Other::before{background-position:-192px 0;width:32px;height:32px}
