/*
 * **************************************************************************************
 *
 * Dateiname:                 goods.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              17.12.19, 22:44 Uhr
 * zuletzt bearbeitet:       17.12.19, 22:03 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

.goods-sprite{display:inline-block;height:3em;position: relative;}
/* BOF generated */
.goods-sprite::before{content:"";display:block;background:url('../images/fine_goods_large_0.png') top left no-repeat;background-size:1160px 204px}
..goods-sprite.goods::before{background-position: 0 0;width:46px;height:56px;transform:rotate(-90deg)}
.goods-sprite.corals::before{background-position: 0 -58px;width:51px;height:51px}
.goods-sprite.orichalcum::before{background-position: -49px 0;width:50px;height:51px;transform:rotate(-90deg)}
.goods-sprite.wire::before{background-position: 0 -111px;width:50px;height:51px;transform:rotate(-90deg)}
.goods-sprite.paintings::before{background-position: 0 -164px;width:50px;height:39px}
.goods-sprite.biolight::before{background-position: -53px -111px;width:50px;height:51px}
.goods-sprite.tar::before{background-position: -53px -164px;width:49px;height:39px}
.goods-sprite.dye::before{background-position: -103px -164px;width:43px;height:39px}
.goods-sprite.bionics::before{background-position: -54px -54px;width:49px;height:51px;transform:rotate(-90deg)}
.goods-sprite.ferroconcrete::before{background-position: -101px 0;width:46px;height:51px;transform:rotate(-90deg)}
.goods-sprite.pearls::before{background-position: -104px -54px;width:46px;height:51px}
.goods-sprite.paper::before{background-position: -149px 0;width:46px;height:51px;transform:rotate(-90deg)}
.goods-sprite.nanites::before{background-position: -104px -106px;width:45px;height:51px;transform:rotate(-90deg)}
.goods-sprite.dna_data::before{background-position: -148px -159px;width:46px;height:44px;transform:rotate(-90deg)}
.goods-sprite.preservatives::before{background-position: -150px -106px;width:43px;height:51px}
.goods-sprite.basalt::before{background-position: -151px -54px;width:43px;height:51px;transform:rotate(-90deg)}
.goods-sprite.herbs::before{background-position: -195px -106px;width:36px;height:51px;transform:rotate(-90deg)}
.goods-sprite.nickel::before{background-position: -195px -159px;width:46px;height:44px;transform:rotate(-90deg)}
.goods-sprite.machineparts::before{background-position: -196px 0;width:50px;height:50px}
.goods-sprite.wool::before{background-position: -196px -53px;width:50px;height:50px}
.goods-sprite.ebony::before{background-position: -233px -105px;width:50px;height:50px;transform:rotate(-90deg)}
.goods-sprite.cryptocash::before{background-position: -242px -157px;width:47px;height:46px}
.goods-sprite.ropes::before{background-position: -248px 0;width:47px;height:50px}
.goods-sprite.superconductors::before{background-position: -248px -53px;width:47px;height:50px;transform:rotate(-90deg)}
.goods-sprite.textiles::before{background-position: -284px -105px;width:43px;height:50px;transform:rotate(-90deg)}
.goods-sprite.platinum_crystals::before{background-position: -291px -157px;width:47px;height:46px;transform:rotate(-90deg)}
.goods-sprite.whaleoil::before{background-position: -297px 0;width:38px;height:50px}
.goods-sprite.coffee::before{background-position: -297px -53px;width:38px;height:50px;transform:rotate(-90deg)}
.goods-sprite.convenience_food::before{background-position: -329px -105px;width:30px;height:50px}
.goods-sprite.glass::before{background-position: -340px -157px;width:47px;height:46px;transform:rotate(-90deg)}
.goods-sprite.plastics::before{background-position: -336px -53px;width:24px;height:50px}
.goods-sprite.asbestos::before{background-position: -361px -105px;width:50px;height:50px}
.goods-sprite.gems::before{background-position: -389px -156px;width:50px;height:47px}
.goods-sprite.tea_silk::before{background-position: -337px 0;width:50px;height:50px}
.goods-sprite.mars_microbes::before{background-position: -362px -52px;width:49px;height:50px}
.goods-sprite.tinplate::before{background-position: -388px 0;width:49px;height:50px;transform:rotate(-90deg)}
.goods-sprite.mead::before{background-position: -412px -52px;width:48px;height:50px}
.goods-sprite.petroleum::before{background-position: -438px 0;width:46px;height:50px}
.goods-sprite.armor::before{background-position: -412px -103px;width:42px;height:50px}
.goods-sprite.golden_rice::before{background-position: -440px -154px;width:49px;height:49px}
.goods-sprite.instruments::before{background-position: -456px -103px;width:42px;height:50px}
.goods-sprite.horns::before{background-position: -490px -154px;width:48px;height:49px}
.goods-sprite.superalloys::before{background-position: -462px -52px;width:36px;height:50px;transform:rotate(-90deg)}
.goods-sprite.porcelain::before{background-position: -486px 0;width:33px;height:50px;transform:rotate(-90deg)}
.goods-sprite.plankton::before{background-position: -499px -52px;width:48px;height:49px}
.goods-sprite.data_crystals::before{background-position: -520px 0;width:48px;height:49px;transform:rotate(-90deg)}
.goods-sprite.brick::before{background-position: -499px -102px;width:46px;height:49px;transform:rotate(-90deg)}
.goods-sprite.robots::before{background-position: -540px -153px;width:45px;height:49px}
.goods-sprite.mars_ore::before{background-position: -546px -102px;width:42px;height:49px}
.goods-sprite.lead::before{background-position: -549px -51px;width:42px;height:49px;transform:rotate(-90deg)}
.goods-sprite.cypress::before{background-position: -570px 0;width:41px;height:49px}
.goods-sprite.granite::before{background-position: -586px -153px;width:41px;height:49px;transform:rotate(-90deg)}
.goods-sprite.biotech_crops::before{background-position: -590px -102px;width:38px;height:49px}
.goods-sprite.nutrition_research::before{background-position: -592px -51px;width:37px;height:49px}
.goods-sprite.explosives::before{background-position: -612px 0;width:48px;height:48px}
.goods-sprite.axes::before{background-position: -629px -152px;width:47px;height:48px;transform:rotate(-90deg)}
.goods-sprite.rubber::before{background-position: -630px -102px;width:47px;height:48px;transform:rotate(-90deg)}
.goods-sprite.brass::before{background-position: -630px -50px;width:45px;height:48px}
.goods-sprite.silk::before{background-position: -662px 0;width:42px;height:48px;transform:rotate(-90deg)}
.goods-sprite.fertilizer::before{background-position: -677px -50px;width:41px;height:48px;transform:rotate(-90deg)}
.goods-sprite.fusion_reactors::before{background-position: -706px 0;width:38px;height:48px}
.goods-sprite.luxury_materials::before{background-position: -678px -151px;width:36px;height:48px;transform:rotate(-90deg)}
.goods-sprite.soy::before{background-position: -678px -100px;width:46px;height:47px}
.goods-sprite.lubricants::before{background-position: -719px -50px;width:43px;height:47px}
.goods-sprite.asteroid_ice::before{background-position: -745px 0;width:40px;height:47px}
.goods-sprite.alabaster::before{background-position: -715px -149px;width:31px;height:47px}
.goods-sprite.limestone::before{background-position: -726px -99px;width:45px;height:46px;transform:rotate(-90deg)}
.goods-sprite.transester_gas::before{background-position: -764px -50px;width:43px;height:46px;transform:rotate(-90deg)}
.goods-sprite.processed_material::before{background-position: -786px 0;width:40px;height:46px;transform:rotate(-90deg)}
.goods-sprite.honey::before{background-position: -748px -147px;width:34px;height:46px}
.goods-sprite.sandstone::before{background-position: -772px -98px;width:34px;height:46px;transform:rotate(-90deg)}
.goods-sprite.papercrete::before{background-position: -783px -146px;width:30px;height:46px;transform:rotate(-90deg)}
.goods-sprite.algae::before{background-position: -807px -98px;width:45px;height:46px}
.goods-sprite.paper_batteries::before{background-position: -809px -49px;width:42px;height:46px;transform:rotate(-90deg)}
.goods-sprite.coke::before{background-position: -828px 0;width:38px;height:46px;transform:rotate(-90deg)}
.goods-sprite.gold::before{background-position: -853px -48px;width:38px;height:46px;transform:rotate(-90deg)}
.goods-sprite.compound_fluid::before{background-position: -868px 0;width:38px;height:46px}
.goods-sprite.promethium::before{background-position: -814px -145px;width:38px;height:46px}
.goods-sprite.semiconductors::before{background-position: -854px -95px;width:36px;height:46px;transform:rotate(-90deg)}
.goods-sprite.filters::before{background-position: -854px -142px;width:33px;height:46px}
.goods-sprite.renewable_resources::before{background-position: -888px -142px;width:32px;height:46px}
.goods-sprite.bromine::before{background-position: -891px -95px;width:30px;height:46px}
.goods-sprite.biogeochemical_data::before{background-position: -893px -48px;width:45px;height:45px}
.goods-sprite.flavorants::before{background-position: -907px 0;width:44px;height:45px}
.goods-sprite.bioplastics::before{background-position: -922px -142px;width:44px;height:45px;transform:rotate(-90deg)}
.goods-sprite.steel::before{background-position: -922px -94px;width:43px;height:45px;transform:rotate(-90deg)}
.goods-sprite.bronze::before{background-position: -953px 0;width:40px;height:45px;transform:rotate(-90deg)}
.goods-sprite.nanoparticles::before{background-position: -967px -94px;width:38px;height:45px;transform:rotate(-90deg)}
.goods-sprite.gas::before{background-position: -981px -47px;width:34px;height:45px}
.goods-sprite.wine::before{background-position: -994px 0;width:34px;height:45px}
.goods-sprite.artificial_scales::before{background-position: -996px -140px;width:44px;height:44px}
.goods-sprite.nanowire::before{background-position: -1017px -47px;width:40px;height:43px}
.goods-sprite.smart_materials::before{background-position: -1030px 0;width:39px;height:43px;transform:rotate(-90deg)}
.goods-sprite.gunpowder::before{background-position: -1042px -139px;width:38px;height:42px}
.goods-sprite.purified_water::before{background-position: -1058px -46px;width:32px;height:42px}
.goods-sprite.salt::before{background-position: -1071px 0;width:41px;height:42px}
.goods-sprite.cloth::before{background-position: -1114px 0;width:42px;height:38px;transform:rotate(-90deg)}
.goods-sprite.marble::before{background-position: -1114px -41px;width:42px;height:38px;transform:rotate(-90deg)}
.goods-sprite.talc::before{background-position: -1082px -136px;width:37px;height:42px;transform:rotate(-90deg)}
.goods-sprite.packaging::before{background-position: -1120px -80px;width:39px;height:40px;transform:rotate(-90deg)}
.goods-sprite.ai_data::before{background-position: -1120px -122px;width:39px;height:28px}
.goods-sprite.electromagnets::before{background-position: -1120px -151px;width:38px;height:36px;transform:rotate(-90deg)}
.goods-sprite.translucent_concrete::before{background-position: -1086px -90px;width:30px;height:42px;transform:rotate(-90deg)}
/* EOF generated */
.goods-sprite.supplies::before,
.goods-sprite.money::before,
.goods-sprite.medals::before,
.goods-sprite.empty::before {background:url('../images/goods-extra.png') top left no-repeat;background-size:180px 45px;width:45px;height:45px;}
.goods-sprite.supplies::before{background-position: 0 0;}
.goods-sprite.money::before{background-position: -45px 0;}
.goods-sprite.medals::before{background-position: -94px 0;}
.goods-sprite.empty::before {background-position: -138px 0;}
