/*
 * **************************************************************************************
 *
 * Dateiname:                 style-menu.css
 * Projekt:                   foe
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * zu letzt bearbeitet:       19.11.19, 17:26 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

body {
	position: absolute !important;
	height: 100% !important;
	width: 100% !important;
	overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#ant-hud:before,
.window-head span.window-ask,
.hud-btn-up,
.hud-btn-down:before,
.hud-btn {
	background-image:  url('https://foede.innogamescdn.com/assets/shared/gui/hud/hud_0.png');
}

.window-speaker {
	background-image: url('../images/speaker.png');
}

.game-cursor,
.game-cursor option,
.window-minimize,
.window-close,
.window-head:not(span),
.button-own,
.window-box,
.cursor-default,
.button--lg,
.hud-btn {
	cursor: url('https://foede.innogamescdn.com/assets/shared/cursors/cursor_default.cur'), auto;
}

.game-cursor:hover,
.game-cursor option:hover,
.window-minimize:hover,
.window-close:hover,
.window-head:not(span):hover,
.button-own:hover,
.button--lg:hover,
.hud-btn:hover {
	cursor: url('https://foede.innogamescdn.com/assets/shared/cursors/cursor_hover.cur'), auto;
}


.btn-default {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0.2rem 1rem;
	font-size: 0.8rem;
	line-height: 1.5;
	background: rgb(228,193,75);
	background: -moz-linear-gradient(top,  rgb(228,193,75) 0%, rgb(204,146,59) 1%, rgb(171,94,36) 30%, rgb(135,70,26) 99%, rgb(176,104,50) 100%);
	background: -webkit-linear-gradient(top,  rgb(228,193,75) 0%,rgb(204,146,59) 1%,rgb(171,94,36) 30%,rgb(135,70,26) 99%,rgb(176,104,50) 100%);
	background: linear-gradient(to bottom,  rgb(228,193,75) 0%,rgb(204,146,59) 1%,rgb(171,94,36) 30%,rgb(135,70,26) 99%,rgb(176,104,50) 100%);
	border: #000 1px solid;
	border-radius: 4px;
	color: #F3D6A0;
	cursor: url('https://foede.innogamescdn.com/assets/shared/cursors/cursor_default.cur'), auto;
	transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	outline: none !important;
}

.btn-default:hover,
.btn-default-active {
	background: rgb(183,112,55);
	background: -moz-linear-gradient(top,  rgb(183,112,55) 0%, rgb(176,96,38) 1%, rgb(145,72,30) 30%, rgb(130,62,24) 99%, rgb(176,104,50) 100%);
	background: -webkit-linear-gradient(top,  rgb(183,112,55) 0%,rgb(176,96,38) 1%,rgb(145,72,30) 30%,rgb(130,62,24) 99%,rgb(176,104,50) 100%);
	background: linear-gradient(to bottom,  rgb(183,112,55) 0%,rgb(176,96,38) 1%,rgb(145,72,30) 30%,rgb(130,62,24) 99%,rgb(176,104,50) 100%);
	cursor: url('https://foede.innogamescdn.com/assets/shared/cursors/cursor_hover.cur'), auto;
}

.btn-green,
.btn-green:hover {
	background: #6eaa5c;
	background: -moz-linear-gradient(top,  #6eaa5c 0%, #29931d 100%);
	background: -webkit-linear-gradient(top,  #6eaa5c 0%,#29931d 100%);
	background: linear-gradient(to bottom,  #6eaa5c 0%,#29931d 100%);
	border: #106000 1px solid;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: #281207;
	border-radius: 10px;
}


.foe-table {
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	background-color: transparent;
}


table.foe-table {
	border-spacing: 0;
	border-collapse: separate;
	width: 100%;
	background-color: transparent;
}

table.foe-table thead tr th,
.dark-bg {
	background-color: rgba(0,0,0, 0.5);
}

table.foe-table tbody tr:nth-child(odd) {
	background-color: rgba(255,255,255, 0.07);
}

table.foe-table tbody tr:hover {
	background-color: rgba(243, 214, 160, 0.4);
}

table.foe-table tr th,
table.foe-table tr td {
	padding: 2px 5px;
}

table.foe-table tr td {
	border-top: 1px solid #7F5A34;
	border-bottom: 1px solid #3D250F;
}

table.foe-table tr.success td,
.text-success {
	color: #29b206;
}


p {
	margin: 0 0 10px 0;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.wsnw {
	white-space: nowrap;
}

.text-warning {
	color: #FFB539;
}

.text-danger,
.danger {
	color: #f92727;
}

.text-info,
.info {
	color: #2196f3;
}

/***************************************************************/

.button--lg {
	position: absolute;
	display: none;
	width: 194px;
	z-index: 999;
	color: #efcf9a;
	line-height: 24px;
	font-family: Arial,Verdana;
	background-image: url('../images/btn-bg.png');
	font-size: 13px;
	font-weight: 700;
	background-position: -1px -2px;
	background-size: 196px 53px;
}

.button--lg:hover {
	background-position: -1px -29px;
}

/***************************************************************/

#ant-hud {
	position: absolute;
	right: 0;
	z-index: 999;
	width: 64px;
	height: 270px;
	top: 360px;
}

#ant-hud:before {
	content: "";
	width: 270px;
	height: 64px;
	background-position: 1047px 0;
	transform: rotate(-90deg);
	position: absolute;
	top: 103px;
	right: -103px;
	z-index: -1;
}

#ant-hud-wrapper {
	width: 55px;
	height: 220px;
	position: absolute;
	right: 2px;
	top: 26px;
	overflow: hidden;
}

#ant-hud-slider {
	position: absolute;
	top: 0;
	transition: top 0.7s ease-in-out;
}

.hud-btn-up {
	position: absolute;
	background-position: 1539px 15px;
	width: 56px;
	height: 15px;
	top: 5px;
	right: 2px;
	display: block;
}

.hud-btn-up-active {
	background-position: 1481px 15px;
}
.hud-btn-up-active:hover {
	background-position: 1423px 15px;
}

.hud-btn-down {
	right: 1px;
	width: 58px;
	height: 16px;
	display: block;
	position: absolute;
	bottom: 4px;
}
.hud-btn-down:before {
	content: "";
	transform: scaleY(-1);
	background-position: 1540px 15px;
	width: 56px;
	height: 16px;
	display: block;
	position: absolute;
	right: 1px;
}

.hud-btn-down-active:before {
	background-position: 1364px 17px;
}

.hud-btn-down-active:hover:before {
	background-position: 1422px 17px;
}

.hud-btn {
	display: block;
	background-position: 992px 63px;
	width: 55px;
	height: 55px;
	position: relative;
}


.hud-btn-red {
	background-position: 1049px 63px;
}


.hud-btn span {
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 38px;
	height: 38px;
	background-size: contain;
	position: absolute;
	top: 8px;
	left: 8px;
}


#getFPs span {
	background-image: url('../images/crate.png');
}

#calcFPs span {
	background-image: url('../images/calculator.png');
}

#outPostBtn span {
	background-image: url('../images/vikings_ship.png');
}

#ownFPs span {
	background-image: url('../images/own-part.png');
}

#Tech span {
    background-image: url('../images/technologies.png');
}

#ChatBtn span {
	background-image: url('../images/chat.png');
}

#ForumBtn span {
	background-image: url('../images/forum.png');
}

#AskBtn span {
	background-image: url('../images/ask.png');
}

#SettingBtn span {
	background-image: url('../images/wrench.png');
}

#BugBtn span {
	background-image: url('../images/bug.png');
}

#InfoBox span {
	background-image: url('../images/info.png');
}

#unitBtn span {
	background-image: url('../images/units.png');
}

#negotationBtn span {
	background-image: url('../images/negotation.png');
}

/* Tabs */

.window-body .tabs ul {
	margin: 5px 0 0 0;
	padding: 0;
	border-bottom: 2px solid rgb(101, 61, 20);
}

.window-body .tabs ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: transparent url("https://foede.innogamescdn.com/assets/shared/gui/itembar/itembar_0.png") -167px -731px no-repeat;
	width: 71px;
	height: 31px;
}

.window-body .tabs ul li:hover {
	background-position: -167px -765px;
}

.window-body .tabs ul li.active {
	background-position: -167px -799px;
}

.window-body .tabs ul li a {
	text-decoration: none;
	display: block;
	width: 26px;
	height: 26px;
	position: relative;
	left: 35px;
	top: 4px;
}


/* Tooltip */
.toolTipWrapper {
	text-align: left;
	display: none;
	position: absolute;
	width: 180px;
	right: 67px;
	top: 50%;
	border: 10px solid transparent;
	background-color: #5e5a4e;
	border-image: url('../images/tooltip_bg.png') 10 round;
	z-index: 999;
	transform: translateY(-50%);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.9rem;
	font-weight: 400;
	color: #f2ede1;
	padding: 3px;
}

.toolTipWrapper::after {
	content: '';
	width: 18px;
	height: 31px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -22px;
	background: url('../images/tooltip_bg_arrow.png') center center no-repeat;
}

.toolTipWrapper .tooltip-error {
	color: #f79090;
}

.toolTipWrapper .toolTipHeader {
	color: #bdc5cb;
	background-color: #313d45;
	box-shadow: inset 0 0 2px #000;
	margin: -7px -7px 2px -7px;
	padding: 0 5px 1.3px;
}


/***********************************************************************************/


#fp-bar {
	position: fixed;
	top: 6px;
	left: calc(50vW + 140px);
	z-index: 100;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.9rem;
	color: #F3D6A0;
	text-shadow: 0 0 1px rgba(0,0,0, 0.8);
	user-select: text;
}

#fp-bar strong {
	color: #FFB539;
}


/*******************************************************************************/
