/*
 * **************************************************************************************
 *
 * Dateiname:                 greatbuildings.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * zuletzt bearbeitet:        26.04.20, 21:24 Uhr
 *
 * Copyright 2020
 *
 * **************************************************************************************
 */


/* Box */
#greatbuildings {
    top: 30%;
    right: 15%;
    width: 470px;
}

#greatbuildings #greatbuildingsBody {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 550px;
}

#greatbuildings #greatbuildingsBody strong.success {
    color: #29b206;
}

.text-bright {
	color: var(--text-bright);
}

#greatbuildings .title {
	font-size: 115%;
}

#greatbuildings .header {
	margin-bottom: 2px;
	padding: 1em 0;
}

#greatbuildings #greatbuildingsBody .foe-table tr:first-child td:nth-child(5) strong {
	color: var(--text-success);
}