/*
 * **************************************************************************************
 *
 * Dateiname:                 read-buildings.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              27.12.19, 12:14 Uhr
 * zuletzt bearbeitet:       27.12.19, 12:14 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

#ResultBox {
	left: calc(50vw - 250px);
	top: calc(50vh - 220px);
	min-width: 500px;
	max-width: 600px;
}

#ResultBox #ResultBoxBody {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 440px;
	margin-top: 2px;
}

#ResultBox #ResultBoxBody .show-entity {
	display: block;
	width: 20px;
	height: 20px;
}

#ResultBox #ResultBoxBody .show-entity img {
	width: 20px;
	height: 20px;
}

#ResultBox #ResultBoxBody table tr td:first-child {
	white-space: nowrap;
}

#ResultBox #ResultBoxBody tr:not(.success) strong {
	color: #ffb539;
}