/*
 * **************************************************************************************
 *
 * Dateiname:                 unit.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              22.12.19, 14:31 Uhr
 * zuletzt bearbeitet:       22.12.19, 14:23 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

#units {
	top: 30%;
	right: 15%;
	width: 490px;
}

#units .window-body {
	max-height: 450px;
	overflow-x: hidden;
	overflow-y: auto;
}

.units-icon {
	background: transparent url('https://foede.innogamescdn.com/assets/shared/unit_portraits/armyuniticons_50x50/armyuniticons_50x50_0.png') no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 936px 124px;
}

#units .health {
	display: block;
	background-color: #ff5026;
	height: 5px;
	position: relative;
}

#units .health span {
	position: relative;
	background-color: #1e7e34;
	height: 5px;
	display: block;
	border-radius: 10px;
}

#units span.percent {
	display: block;
	text-align: center;
	font-size: 75%;
	border-radius: 10px;
}

#units #unitsBody .tabs ul li a {
	width: 21px;
	left: 37px;
	background: transparent url('../images/unit-icons.png') 0 3px no-repeat;
	background-size: 90px 20px;
}

#units #unitsBody .tabs ul li.defense a {
	background-position: -21px 3px;
}

#units #unitsBody .tabs ul li.pool a {
	background-position: -41px 3px;
}

#units #unitsBody .tabs ul li.alca a {
	background-position: -67px 3px;
}

.ArcticFuture_champion {background-position: 0 0}
.BronzeAge_champion {background-position: 0 -32px}
.ColonialAge_champion {background-position: 0 -63px}
.ContemporaryEra_champion {background-position: 0 -94px}
.EarlyMiddleAge_champion {background-position: -32px 0}
.FutureEra_champion {background-position: -32px -32px}
.HighMiddleAge_champion {background-position: -32px -63px}
.IndustrialAge_champion {background-position: -32px -94px}
.IronAge_champion {background-position: -63px 0}
.LateMiddleAge_champion {background-position: -63px -32px}
.ModernEra_champion {background-position: -63px -63px}
.OceanicFuture_champion {background-position: -63px -94px}
.PostModernEra_champion {background-position: -94px 0}
.ProgressiveEra_champion {background-position: -94px -32px}
.SpaceAgeMars_champion {background-position: -94px -63px}
.TomorrowEra_champion {background-position: -94px -94px}
.VirtualFuture_champion {background-position: -125px 0}
.aa_vehicle {background-position: -125px -32px}
.anti_material_sniper {background-position: -125px -63px}
.archer {background-position: -125px -94px}
.armored_car {background-position: -157px 0}
.armoredswordsman {background-position: -157px -32px}
.assault_tank {background-position: -157px -63px}
.attack_helicopter {background-position: -157px -94px}
.augmented_samurai {background-position: -188px 0}
.automatic_rifleman {background-position: -188px -32px}
.axe_hammer_warrior {background-position: -188px -63px}
.clubman {background-position: -188px -63px}
.balista {background-position: -188px -94px}
.barbarian {background-position: -219px 0}
.barbarian_slinger {background-position: -219px -32px}
.battle_fortress {background-position: -219px -63px}
.battle_tank {background-position: -219px -94px}
.bazooka {background-position: -250px 0}
.behemoth {background-position: -250px -32px}
.biedenhaender_mercenary {background-position: -250px -63px}
.bombarde {background-position: -250px -94px}
.brave_warrior {background-position: -281px 0}
.breech_loader {background-position: -281px -32px}
.camel_archer {background-position: -281px -63px}
.cannoniers {background-position: -281px -94px}
.cataphract {background-position: -313px 0}
.catapult {background-position: -313px -32px}
.color_guard {background-position: -313px -63px}
.combat_drone {background-position: -313px -94px}
.commando {background-position: -344px 0}
.conscript {background-position: -344px -32px}
.crab_mech {background-position: -344px -63px}
.crossbowman {background-position: -344px -94px}
.dismounted_knight {background-position: -375px 0}
.dragon_drone {background-position: -375px -32px}
.dragoon {background-position: -375px -63px}
.drone_swarm {background-position: -375px -94px}
.exo_soldier {background-position: -406px 0}
.feudal_knight {background-position: -406px -32px}
.gliders {background-position: -406px -63px}
.grenadier {background-position: -406px -94px}
.hoplite {background-position: -437px 0}
.horseman {background-position: -437px -32px}
.hover_tank {background-position: -437px -63px}
.howitzer {background-position: -437px -94px}
.hydroelectric_eel {background-position: -469px 0}
.imperial_knight {background-position: -469px -32px}
.infantry_fighting_vehicle {background-position: -469px -63px}
.jaeger {background-position: -469px -94px}
.javeliner {background-position: -500px 0}
.khopesh_fighter {background-position: -500px -32px}
.lancer {background-position: -500px -63px}
.legionnaire {background-position: -500px -94px}
.longbowman {background-position: -531px 0}
.manta {background-position: -531px -32px}
.marksman {background-position: -531px -63px}
.mech_artillery {background-position: -531px -94px}
.mech_infantry {background-position: -562px 0}
.medusa {background-position: -562px -32px}
.military_drummer {background-position: -562px -63px}
.militiaman {background-position: -562px -94px}
.missile_artillery {background-position: -593px 0}
.mobile_microwave_gun {background-position: -593px -32px}
.mounted_bowman {background-position: -593px -63px}
.mounted_brave {background-position: -593px -94px}
.mounted_legionnaire {background-position: -625px 0}
.nautilus {background-position: -625px -32px}
.ninja {background-position: -625px -63px}
.nubian_archer {background-position: -625px -94px}
.octopod {background-position: -656px 0}
.palintona {background-position: -656px -32px}
.paratrooper {background-position: -656px -63px}
.pikeman {background-position: -656px -94px}
.plasma_artillery {background-position: -687px 0}
.rail_gun_unit {background-position: -687px -32px}
.ranger {background-position: -687px -63px}
.recon_raider {background-position: -687px -94px}
.rf_cannon {background-position: -718px 0}
.rifleman {background-position: -718px -32px}
.rocket_artillery {background-position: -718px -63px}
.rocket_troop {background-position: -718px -94px}
.rogue {background-position: -749px 0}
.ronin_bot {background-position: -749px -32px}
.sat_uplink_unit {background-position: -749px -63px}
.scimitar {background-position: -749px -94px}
.sentinel {background-position: -781px 0}
.slinger {background-position: -781px -32px}
.sniper {background-position: -781px -63px}
.sniperbot {background-position: -781px -94px}
.space_marine {background-position: -812px 0}
.spearman {background-position: -812px -32px}
.stealth_tank {background-position: -812px -63px}
.steel_warden {background-position: -812px -94px}
.strike_team {background-position: -843px 0}
.sub_cruiser {background-position: -843px -32px}
.surrogate_soldier {background-position: -843px -63px}
.tank {background-position: -843px -94px}
.tesla_walker {background-position: -874px 0}
.trebuchet {background-position: -874px -32px}
.turturret {background-position: -874px -63px}
.ultra_ap {background-position: -874px -94px}
.universal_tank {background-position: -905px 0}
.war_chariot {background-position: -905px -32px}
.war_elephant {background-position: -905px -63px}
.warrior_monk {background-position: -905px -94px}
