@import url('../css/web/variables.css');

body {
    scrollbar-color: #47677d #0e171d;
    font-family: sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #0e171d;
    color: #eee;
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    z-index: 3333;
    box-sizing: border-box;
}

.overlay .inner {
    position: fixed;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    box-sizing: border-box;
    padding: 10px 1em;
    border-radius: 10px;
    background-color: var(--black-65);
    z-index: 1500;
}

.overlay button {
    zoom: 150%;
}

.error {
    color: var(--text-danger)
}

textarea, button, input, .btn {
    background-color: inherit;
    color: inherit;
    border: 1px solid #eeeeeeaa;
    border-radius: 5px;
}

.btn {
    padding: 3px 6px;
}

.wrapper {
    display: flex;
}

.sidebar {
    font-size: smaller;
    user-select: none;
}

#buildings {
    min-width: 250px;
    border-right: 1px dotted #47677d;
    padding: 5px;
    box-sizing: border-box;
    max-height: 100vh;
    overflow: auto;
    scrollbar-width: thin;
}

#buildings ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#buildings li {
    margin: 0; 
    padding: 3px 0;
    font-size: 90%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#buildings li::before {
    content: '';
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 10px;
    background-color: #eee;
    margin-right: 5px;
}

#buildings .name {
    flex-grow: 3;
}

#buildings .residential::before { background-color: #7abaff;}
#buildings .greatbuilding::before { background-color: #e6542f;}
#buildings .production::before { background-color: #416dff;}
#buildings .nostreet::before { background-color: #793bc9;}
#buildings .main_building::before { background-color: #ffb300;}

.amount {
    padding-left: 4px;
}

.amount:not(:empty)::after {
    content: 'x';
}

.content {
    height: 100vh;
    position: relative;
}

.content header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: 0 1rem;
    pointer-events: none;
    box-sizing: border-box;
}

.content header h1 {
    font-size: medium;
    background-color: #0006;
}

.content header h1, .content header .stats {
    padding: 0.5em;
}

#map {
    position: relative;
    background-color: #0003;
    user-select: none;
}

#map .buttons {
    z-index: 1200;
    position: absolute;
    top: 70px;
    display: flex;
    gap: 3px;
}

#map .buttons.left {
    left: 0.5em;
}

#map .buttons.right {
    right: 0.5em;
}

.buttons .group {
    display: inline-flex;
}

.buttons .group .btn {
    border-radius: 0;
    border-left: none;
}

.buttons .group .btn:first-child {
    border-left: 1px solid #eeea;
    border-radius: 5px 0 0 5px;
}

.buttons .group .btn:last-child {
    border-radius: 0 5px 5px 0;
}

#map .info {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 1200;
    pointer-events: none;
    padding: 0 2px;
    text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 2px #000;
    background-color: #0002;
}

button {
    backdrop-filter: blur(5px) brightness(0.5) contrast(1.2);
    text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 2px #000;
    border-radius: 3px;
}

#storeSelection { display: none; }
#storeSelection.show { display: inline-block; }

#storeSelection span:not(:empty)::before { content: '(' }
#storeSelection span:not(:empty)::after { content: ')' }

#canvasWrapper {
    overflow: hidden;
	position: relative;
	height: 100vh;
	width: calc(100vw - 250px);
}
#canvasWrapper .shadow {
	position: absolute;
	height: 100%;
	width: 100%;
    pointer-events: none;
    box-shadow: inset 0 0 20px #0b1217, inset 0 0 5px #0b1217 !important;
}

canvas {
    width: auto;
}

.hidden { display: none; }

.sideview { transform: rotate(33deg) skew(-30deg,-5deg) }

#placeStreet.active {
    background-color: #1d6b2a;
    border-color: #66c440;
    color: #fff;
    box-shadow: 0 0 6px #66c44088;
}