#PlayerProfileButton {
    position: absolute;
    top: 5px;
    left: 2px;
    z-index: 300;
}

#PlayerProfileButton span {
    display: none;
}

#PlayerProfileButton .main {
    display: inline-block;
}

#PlayerProfileButton img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
}

#PlayerProfileButton img:hover {
    filter: saturate(1.3) brightness(1.2);
}

#PlayerProfile {
    width: 400px;
    min-height: 200px;
}

#PlayerProfile.window-box {
    background: linear-gradient(196deg, #00041c 0%, rgba(3,18,51,1) 100%);
    border-color: #081c3b;
    color: var(--text-light);
}

#PlayerProfile .window-head {
    background: transparent;
    box-shadow: none;
    border-bottom-width: 0;
    margin-bottom: -0.5rem;
}

#PlayerProfile .window-close {
    filter: saturate(0) contrast(1.6) brightness(0.3);
    mix-blend-mode: luminosity;
}

#PlayerProfile .window-close:hover {
    filter: saturate(0) contrast(1.8) brightness(0.5);
    mix-blend-mode: luminosity;
}

#PlayerProfileBody {
    overflow: visible;
    position: relative;
}

#PlayerProfile .window-head .title {
    opacity: 0;
}

#PlayerProfile .pad {
    padding: 1rem;
}

#PlayerProfile .leftInfo .pad, #PlayerProfile .rightInfo .pad {
    padding: 1rem 0.5rem;
}

#PlayerProfile h2 + .pad {
    padding: 0 1rem 1rem;
}

#PlayerProfile .pad + .pad {
    padding: 0.55rem 1rem;
}

#PlayerProfile div.header {
    height: 100px;
    position: relative;
    top: -60px;
    margin: 0 auto -60px;
    filter: saturate(1.2);
    display: block;
    background: linear-gradient(#00031373 50%, #00031311);
}

#PlayerProfile .rightInfo div.header {
    border-radius: 0 10px 10px 0;
}

#PlayerProfile .leftInfo div.header {
    border-radius: 10px 0 0 10px;
}

#PlayerProfile div.header img:not(:only-child) {
    position: absolute;
    left: calc(50% - 50px);
    max-height: 100px;
}

#PlayerProfile div.header.flex {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

#PlayerProfile div.header.flex img:only-child {
    min-width: 110px;
    max-width: 150px;
    max-height: 110px;
}

#PlayerProfile div.header img.alabaster {
    height: 50px;
    left: 50px;
    top: 20px;
}

#PlayerProfile div.header img.goods {
    height: 50px;
    left: 30px;
    top: 40px;
}

#PlayerProfile div.header img.fp {
    left: 150px;
    top: 30px;
}

#PlayerProfile .leftInfo, #PlayerProfile .rightInfo {
    position: absolute;
    box-sizing: border-box;
    background:  linear-gradient(196deg, #000313 0%, rgb(3, 13, 36) 100%);
    width: 250px;
    top: 50px;
    left: -253px;
    border-radius: 7px 0 0 7px;
    padding: 15px 0;
    box-shadow: 0 -10px 10px #0006;
    min-height: 300px;
    height: inherit;
    margin-top: -20px;
}

#PlayerProfile .rightInfo {
    background: linear-gradient(196deg, #000313 0%, rgb(3, 13, 36) 100%);
    right: -253px;
    left: auto;
    border-radius: 0 7px 7px 0;
}

#PlayerProfile .leftInfo h2:first, #PlayerProfile .rightInfo h2:first {
    font-size: 1rem;
}

#PlayerProfile .basicInfo {
    display: flex;
    align-items: center;
    padding-top: 0;
}

#PlayerProfile .basicInfo img {
    border-radius: 7px;
    width: 90px;
    margin-right: 1.25rem;
    box-shadow: 0 2px 2px var(--black-50);
}

#PlayerProfile .expansions {
    position: absolute;
    top: 38px;
    left: 0;
    padding: 0 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#PlayerProfile .greatbuildings span, #PlayerProfile .stock span {
    display: inline-block;
    margin: 6px 4px 3px;
    padding: 0 3px 0 0;
    border-bottom: 1px solid #fff2;
    height: 26px;
    line-height: 26px;
    position: relative;
}

#PlayerProfile .greatbuildings img, #PlayerProfile .stock img {
    max-height: 35px;
    max-width: 50px;
    margin: -5px 2px -5px -6px;
    filter: saturate(1.2);
}

#PlayerProfile .secondary {
    font-size: 0.9em;
}

#PlayerProfile .secondary img {
    max-height: 25px !important;
    max-width: 30px !important;
}

#PlayerProfile .ranking::before, #PlayerProfile .ranking::after {
    content: '';
    background: url(../../x_img/ranking.png) left top no-repeat;
    width: 13px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 7px;
    margin-right: 3px;
}

#PlayerProfile .ranking::after {
    background: url(../../x_img/ranking.png) right top no-repeat;
    margin: 0 10px 0 2px;
}

#PlayerProfile .daysPlayed {
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    text-align: center;
    padding: 0.25rem 0;
    color: #b8d7ff;
}

#PlayerProfile .dailyProd {
    text-align: center;
}

#PlayerProfile .fp::before, #PlayerProfile .goods .prev::before, #PlayerProfile .goods .current::before, #PlayerProfile .goods .next::before, #PlayerProfile .goods .guild::before, 
#PlayerProfile .aAtt::after, #PlayerProfile .aDef::before, #PlayerProfile .dAtt::after, #PlayerProfile .dDef::before, 
#PlayerProfile .qiactions::before, #PlayerProfile .qicoins::before, #PlayerProfile .qicoins_start::before, #PlayerProfile .qisupplies::before, #PlayerProfile .qisupplies_start::before, #PlayerProfile .qigoods_start::before, #PlayerProfile .qiunits_start::before {
    content: '';
    position: relative;
    top: 3px;
    width: 24px;
    height: 20px;
    display: inline-block;
    background: url(../../x_img/forgepoints.png) center top no-repeat;
    background-size: contain;
    margin: 0 3px;
    box-sizing: border-box;
    zoom: 0.8;
}

#PlayerProfile .goods {
    margin-top: -3px;
}

#PlayerProfile .goods span {
    display: inline-block;
    margin: 0 2px 2px 0;
}

#PlayerProfile .goods .guild::before {
    background: url(../../productions/images/productions.png) -233px 2px no-repeat;
    height: 26px;
    width: 26px;
    margin-left: 7px;
}

#PlayerProfile .goods .prev::before {
    background: url(../../productions/images/productions.png) -524px 2px no-repeat;
    height: 26px;
}

#PlayerProfile .goods .next::before {
    background: url(../../productions/images/productions.png) -550px 2px no-repeat;
    height: 26px;
}

#PlayerProfile .goods .current::before {
    background: url(../../productions/images/productions.png) -104px 2px no-repeat;
    height: 26px;
}

#PlayerProfile .qiactions::before {
    background: url(../../productions/images/productions.png) -498px 5px no-repeat;
    height: 28px;
}

#PlayerProfile .qicoins::before {
    background: url(../../productions/images/productions.png) -603px 4px no-repeat;
    height: 28px;
}

#PlayerProfile .qicoins_start::before {
    background: url(../../productions/images/productions.png) -630px 4px no-repeat;
    height: 28px;
}

#PlayerProfile .qisupplies::before {
    background: url(../../productions/images/productions.png) -655px 4px no-repeat;
    height: 28px;
}

#PlayerProfile .qisupplies_start::before {
    background: url(../../productions/images/productions.png) -680px 4px no-repeat;
    height: 28px;
}

#PlayerProfile .qigoods_start::before {
    background: url(../../productions/images/productions.png) -708px 4px no-repeat;
    height: 28px;
}

#PlayerProfile .qiunits_start::before {
    background: url(../../productions/images/productions.png) -733px 4px no-repeat;
    height: 28px;
}

#PlayerProfile .battleBoosts > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
}

#PlayerProfile .aAtt::after {
    background: url(../../productions/images/productions.png) -311px -3px no-repeat;
    margin-right: -15px;
    z-index: 1;
}

#PlayerProfile .aDef::before {
    background: url(../../productions/images/productions.png) -365px 3px no-repeat;
}

#PlayerProfile .dAtt::after {
    background: url(../../productions/images/productions.png) -338px -3px no-repeat;
    margin-right: -15px;
    z-index: 1;
}

#PlayerProfile .dDef::before {
    background: url(../../productions/images/productions.png) -390px 3px no-repeat;
}

#PlayerProfile .battleBoosts table {
    margin: 0 auto;
}

#PlayerProfile .battleBoosts .gbg, #PlayerProfile .battleBoosts .ge, #PlayerProfile .battleBoosts .qi {
    background: url(../../x_img/gbg-green.png) left top no-repeat;
    background-size: contain;
    height: 28px;
    width: 28px;
    margin: 0 4px;
    display: block;
}

#PlayerProfile .important {
    color: var(--text-danger);
    font-weight: bold;
}

#PlayerProfile h2 {
    opacity: 0.8;
    font-size: 0.9rem;
}

#PlayerProfile .battleBoosts .ge {
    background-image: url(../../x_img/ge.png);
}

#PlayerProfile .battleBoosts .qi {
    background-image: url(../../x_img/guild_raids.png);
}

#PlayerProfile .battleBoosts span::before {
    margin-right: 5px;
    height: 26px;
}

#PlayerProfile .showMore {
    display: none;
}

#PlayerProfile .settlements img {
    max-height: 41px;
    display: inline-block;
    margin: -8px 2px -8px -7px;
}

#PlayerProfile .settlements .friend_of_the_vikings img {
    margin: -8px -1px -8px -11px;
}

#PlayerProfile .settlements .cop_japanese img {
    margin: -12px -5px -9px -11px;
    max-height: 47px;
}

#PlayerProfile .settlements .a_new_world img {
    margin: -8px -3px -8px -9px;
}
#PlayerProfile .settlements .friend_of_the_pharaoh img {
    margin: -8px -4px -8px -9px;
}

#PlayerProfile .settlements .tropical_islands img, #PlayerProfile .settlements .splendid_empire img {
    max-height: 37px;
    margin: -6px 2px -6px -7px;
}

#PlayerProfile .settlements span {
    display: inline-block;
    margin: 6px 3px 3px;
    background: var(--black-50);
    border-radius: 9px;
    padding: 0 5px 0 2px;
    border: 1px solid #0008;
}

#PlayerProfile .achievements span, #PlayerProfile .inventory span {
    display: inline-block;
    padding: 0 5px 0 0;
    margin: 4px 3px;
    box-shadow: inset -1px -1px 20px #0005;
    border-radius: 10px;
}

#PlayerProfile .achievements img, #PlayerProfile .inventory img {
    max-height: 40px;
    margin: -5px 0 -5px -5px;
    background: radial-gradient(circle, #00000066 53%, transparent 55%);
}

#PlayerProfile .inventory img {
    max-height: 30px;
    margin: -2px 0 -2px -5px;
    background: radial-gradient(circle, #00000066 33%, transparent 55%);
}

#PlayerProfile .inventory .favorites {
    margin-top: 10px;
}

#PlayerProfile .qiBoosts span {
    display: inline-block;
    margin: 3px 1px 3px 0;
    background-image: linear-gradient(298deg, rgba(0, 0, 0, 0) 0%, rgb(18 131 122 / 31%) 100%);
    border-radius: 14px 5px 14px 5px;
    padding: 0 6px 2px 3px;
    box-shadow: inset -1px -1px 2px #12837a33;
    text-shadow: 0 1px 2px #000000cc, 0 1px 1px #000000aa;
}

#PlayerProfile .qiBoosts span::before {
    margin: -5px 4px 0 0;
}

#PlayerProfile .toggleMore {
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
	background-image: url('../../../../css/images/hud/chevron-down.svg');
    filter: saturate(0);
    mix-blend-mode: color-dodge;
    transition: all 0.3s linear;
}

#PlayerProfile .toggleMore:hover {
    mix-blend-mode: normal;
    cursor: url('../../../../css/images/cursor_hover.cur'), auto;
}

#PlayerProfile .toggleMore.active {
    transform: rotate(180deg);
}



#PlayerProfile .window-body::-webkit-scrollbar,
#PlayerProfile .window-body * ::-webkit-scrollbar {
	width: 7px;
	background: transparent;
	border-left-width: 0;
	border-right-width: 0;
}
#PlayerProfile .window-body::-webkit-scrollbar-thumb,
#PlayerProfile .window-body * ::-webkit-scrollbar-thumb {
	background: var(--black-65);
	border-radius: 4px;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
}

/* Firefox */
@supports(-moz-appearance:none) {
	#PlayerProfile .window-body {
		scrollbar-color: var(--black-65) transparent;
		scrollbar-width: thin;
	}
}