/*
 * **************************************************************************************
 *
 * Dateiname:                 settings.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              27.12.19, 12:16 Uhr
 * zuletzt bearbeitet:       27.12.19, 12:15 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

#SettingsBox {
	top: calc(50vh - 165px);
	left: calc(50vw - 305px);
	width: 610px;
	height: 330px;
	font-size: 80%;
}

#SettingsBoxBody {
	overflow-y: auto;
}

#SettingsBoxBody .SettingsBoxBodyInner {
	padding: 8px;
}

#SettingsBoxBody .item {
	border: .5px solid #7f5a34;
	margin-bottom: 15px;
	box-shadow: 0 4px 3px 0 rgba(0,0,0, 0.2);
}

#SettingsBoxBody .item .title {
	box-shadow: 0 20px 12px -22px rgba(235,222,185,0.3) inset;
	border-bottom: 1px solid rgb(65,41,17);
	padding: 4px 10px;
	font-weight: 700;
	color: #ffcc68;
	background-color: rgba(0,0,0,0.15);
}

#SettingsBoxBody .item .item-row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}

#SettingsBoxBody .item .item-row a {
	color: #ffcc68;
}

#SettingsBoxBody .item .item-row .desc {
	width: 66%;
	padding: 10px;
}

#SettingsBoxBody .item .item-row .check {
	background-image: url('../../../../css/images/hud/setting-cb.png');
}

#SettingsBoxBody .item .item-row .check {
	position: relative;
	display: inline-block;
	width: 173px;
	height: 32px;
}

#SettingsBoxBody .item .item-row .unchecked {
	background-position: 0 -32px;
}

#SettingsBoxBody .item .item-row .check input.setting-check {
	position: absolute;
	right: 3px;
	top: 7px;
	width: 21px;
	transform: scale(1.5, 1.5);
}

#SettingsBoxBody .item .item-row .check span.toogle-word {
	display: block;
	width: 141px;
	text-align: center;
	line-height: 32px;
	font-size: 0.9rem;
	color: #b0bbcd;
	font-weight: 700;
}

#SettingsBoxBody .item .item-row .btn-default,
#SettingsBoxBody .item .item-row .setting-dropdown {
	width: 172px;
	padding: 4px 0;
}

#SettingsBoxBody .item .item-row input[type=number] {
	width: 152px;
	padding: 4px 8px;
	text-align: center;
	font-weight: 700;
}

#SettingsBoxBody .item .item-row dl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 173px;
	user-select: text;
}

#SettingsBoxBody .item .item-row dl dt {
	width: 86px;
}
#SettingsBoxBody .item .item-row dl dd {
	width: 86px;
	margin-inline-start: 0;
}