/*
 * **************************************************************************************
 *
 * Dateiname:                 productions.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              24.12.19, 10:53 Uhr
 * zuletzt bearbeitet:        24.12.19, 10:52 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

#Productions {
	top: 100px;
	left: 100px;
	padding: 5px 0 0 0;
	width: 720px;
}


#Productions #ProductionsBody {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 500px;
	margin-top: 2px;
}

#Productions #ProductionsBody strong.success {
	color: var(--text-success);
}

#Productions #ProductionsBody .show-entity {
	display: inline-block;
	width: 20px;
	height: 20px;
}

#Productions #ProductionsBody .show-entity img {
	width: 20px;
	height: 20px;
}

#Productions table tr.building-type td {
	padding-top: 15px;
}

#Productions #ProductionsBody strong {
	color: var(--text-bright);
}

#Productions #ProductionsBody table .sorter-header th {
	position: relative;
}

#Productions #ProductionsBody table .sorter-header .ascending:after,
#Productions #ProductionsBody table .sorter-header .descending:after {
	color: var(--text-bright);
	position: absolute;
	top: -3px;
	font-size: 20px;
}

#Productions #ProductionsBody table .sorter-header .ascending:after {
	content: "↑";
}
#Productions #ProductionsBody table .sorter-header .descending:after {
	content: "↓";
}

#Productions #ProductionsBody table td {
	font-size: 85%;
}

#Productions #ProductionsBody table tbody.parent th {
	background-color: #3f2a1b;
	color: var(--text-bright);
	padding-top: 15px;
	position: sticky;
	top: 0;
}

#Productions #ProductionsBody table tr.highlight-row {
	background-color: rgba(40, 18, 7, 0.8);
	color: var(--text-bright);
}

#Productions #ProductionsBody table #all-search {
	background-color: var(--background-light);
	color: var(--text-medium);
	background-clip: padding-box;
	border: 1px solid var(--text-dark);
	line-height: 18px;
}

#Productions #ProductionsBody table tr.sorter-header th {
	position: sticky;
	top: 0;
	background-color: rgba(0,0,0, 0.35);
}

#Productions #ProductionsBody table td.all-products span {
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
	background-color: rgba(0,0,0, 0.4);
	margin: 3px 8px 2px 0;
	white-space: nowrap;
}

#Productions #ProductionsBody table td.total-products span {
	display: inline-block;
	padding: 2px 4px;
	color: var(--text-bright);
	white-space: nowrap;
}

#Productions #ProductionsBody .tabs ul li a span {
	width: 27px;
}

#Productions #ProductionsBody .tabs ul li a span {
	background: transparent url('../images/productions.png') -233px 5px no-repeat;
}
#Productions #ProductionsBody .tabs ul li.strategy_points a span {
	background-position: 0 4px;
}
#Productions #ProductionsBody .tabs ul li.money a span {
	background-position: -26px 5px;
}
#Productions #ProductionsBody .tabs ul li.supplies a span {
	background-position: -51px 5px;
}
#Productions #ProductionsBody .tabs ul li.medals a span {
	background-position: -78px 5px;
}
#Productions #ProductionsBody .tabs ul li.population a span {
	background-position: -183px 6px;
}
#Productions #ProductionsBody .tabs ul li.happiness a span {
	background-position: -156px 6px;
}
#Productions #ProductionsBody .tabs ul li.packaging a span {
	background-position: -103px 6px;
}
#Productions #ProductionsBody .tabs ul li.premium a span {
	background-position: -209px 5px;
}
#Productions #ProductionsBody .tabs ul li.all a span {
	background-position: -129px 5px;
}
#Productions #ProductionsBody .tabs ul li.clan_power a span {
	background-position: -262px 5px;
}
#Productions #ProductionsBody .tabs ul li.units a span {
	background-position: -287px 6px;
}
