/*
 * **************************************************************************************
 *
 * Dateiname:                 notice.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * zuletzt bearbeitet:        24.05.20, 14:35 Uhr
 *
 * Copyright © 2020
 *
 * **************************************************************************************
 */

#notices {
	left: calc(50vw - 250px);
	top: 30%;
}

#noticesBody {
	min-height: 200px;
	min-width: 500px;
}

.window-body .notices {
	position: relative;
}

.window-body .empty-notice {
	padding: 10px;
}

.window-body .notices .grp-btn {
	position: absolute;
	left: 4px;
	top: 2px;
	z-index: 10;
}
.window-body .notices .itm-btn {
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	z-index: 10;
}

#noticesBody .tabs ul.horizontal {
	padding-left: 120px;
}

#noticesBody .notices ul.vertical {
	padding-top: 39px;
}

#noticesBody ::-webkit-scrollbar-thumb {
	background: #7b3f20;
}

#noticesBody .content-head {
	font-size: 110%;
	font-weight: 700;
	color: var(--text-bright);
	margin-bottom: 5px;
}

#noticesBody .content-text {
	overflow: hidden;
	overflow-y: auto;
}

/*******************************************************************************/
#notices-modal {
	left: calc(50vw - 150px);
	top: calc(50vw - 180px);
	width: 300px;
	min-height: 30px;
	z-index: 300;
}

.foe-helper-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.09);
	width: 100%;
	height: 100%;
	z-index: 250;
	backdrop-filter: blur(5px);
}

#notices-modalBody {
	padding: 10px;
}