#plundererBody {
    max-height: 600px;
    width: 590px;
    padding: 8px 0;
    overflow: scroll;
}

#plunderer .header {
    padding: 0 0 10px 10px;
}


#plunderer .no-data {
    padding: 0 0 10px 10px;
    text-align: center;
}

#plunderer .select-player:hover {
	  background-color: rgba(255, 255, 255, .2);
}

#plunderer .action-row {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-top: 1px solid #7F5A34;
    border-bottom: 1px solid #3D250F;
    min-height: 90px;
}

#plunderer .action-row-type-2 {
	margin-bottom: 6px;
}

#plunderer .avatar {
    padding: 2px;
    width: 95px;
}

#plunderer .info-column {
	padding: 2px;
	width: 110px;
}

#plunderer img.player-avatar {
	max-width: 70px;
	border: 1px solid black;
}

#plunderer .type-1 {
    color: #1e1;
}

#plunderer .type-3 {
    color: #ff5026;
}

#plunderer .action-row-type-1, #plunderer .action-row-type-2 {
    background-color: rgba(128, 255, 128, .1);
}

#plunderer .action-row-type-3 {
    background-color: rgba(255, 128, 128, .1);
}

#plunderer .action-row-type-4 {
    background-color: rgba(255, 255, 128, .1);
}

#plunderer .action-row-type-5 {
    background-color: rgba(128, 128, 255, .1);
}

#plunderer .action-content .content {

}

#plunderer .info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: normal;
    padding: 0 10px;
    font-size: 12px;
    width: 85px;
    word-break: break-word;
}

#plunderer .info-column .era {
	white-space: nowrap;
	font-size: 10px;
	color: #b39690;
}

#plunderer .info-column .discovered {
	  font-size: 10px;
	  color: #b39690;
}

#plunderer .plunder-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#plunderer .plunder-wrap .name {
    font-weight: bold;
    word-wrap: break-word;
}

#plunderer .plunder-wrap .sabotage,
#plunderer .plunder-wrap .doublePlunder {
    /* width: 15px; */
    height: 20px;
    width: auto;
}

#plunderer .plunder-items {
    display: flex;
    flex-direction: column;
    border-bottom: 1px;
    font-size: 90%;
    padding-left: 10px;
}


#plunderer .player-name {
    font-weight: bold;
    color: #FFB539;
}

#plunderer .army {
}

#plunderer .versus {
    font-weight: bold;
    padding-left: 20px;
}

#plunderer .unit-wrap {
	display: flex;
}

#plunderer .unit {
    padding: 2px;
    width: 30px;
}

#plunderer .unit .stats {
    font-size: 10px;
}

#plunderer .stats-same-for-all {
    font-size: 0.75rem;
	margin: 3px 0;
}

#plunderer .green {
    color: #1e1;
}

#plunderer .red {
    color: #ff5026;
}

#plunderer .health {
	  display: block;
	  background-color: #ff5026;
	  height: 5px;
	  position: relative;
	  margin-top: 2px;
}

#plunderer .health span {
	  position: relative;
	  background-color: #1e7e34;
	  height: 5px;
	  display: block;
}

#plunderer .pagination {
    margin: 4px 10px;
}
