#Discord {
    width: 750px;
    top: calc(30vh);
    left: calc(50vw - 375px);
}

#Discord .window-body {
	overflow-y: auto;
}

#discord-entry-form form {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: end;
	padding: 5px;
}

#discord-entry-form b {
	width: 155px;
}

#discord-entry-form #url-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	width: calc(100% - 170px);
}

#discord-entry-form #url-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	width: calc(100% - 160px);
}

#discord-entry-form #url-list li {
	padding: 0 2px;
	margin: 0 3px;
	display: inline-block;
	border-radius: 2px;
}

#discord-entry-form #url-list li.selected {
	font-weight: bold;
	color: var(--bright-color);
	background-color: var(--black-50);
}

#discord-entry-form textarea {
	width: calc(100% - 160px);
	resize: vertical;
}

#Discord #addDiscordEntry {
	margin-top: 0.5rem;
}