/*
 * **************************************************************************************
 *
 * Dateiname:                 fp-collector.css
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              28.11.20, 21:25 Uhr
 * zuletzt bearbeitet:       28.11.20, 21:25 Uhr
 *
 * Copyright © 2020
 *
 * **************************************************************************************
 */

#fp-collector {
	width: 620px;
	height: 400px;
	top: calc(50vh - 200px);
	left: calc(50vw - 310px);
}

#fp-collectorBody .head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 10px;
	margin-bottom: 2px;
}

#fp-collectorBodyInner {
	overflow: auto;
	overflow-x: hidden;
	max-height: 360px;
}

#fp-collectorBody th:nth-child(1), #fp-collectorBody td:nth-child(1),
#fp-collectorBody th:nth-child(2), #fp-collectorBody td:nth-child(2) {
	text-align: center;
}

#fp-collectorBody td:nth-child(3) {
	width: 30px;
	height: 22px;
	background-size: 20px auto;
	background-repeat: no-repeat;
	background-position: center;
}

#fp-collectorBody .hiddenReward td:nth-child(3) {
	background-image: url('../images/incident.png');
}

#fp-collectorBody .chest td:nth-child(3) {
	background-image: url('../images/expedition.png');
}

#fp-collectorBody .guildExpedition td:nth-child(3) {
	background-image: url('../images/relic.png');
}

#fp-collectorBody .battlegrounds_conquest td:nth-child(3) {
	background-image: url('../images/gbg-gray.png');
}

#fp-collectorBody .satDown td:nth-child(3) {
	background-image: url('../images/tavern.png');
}

#fp-collectorBody .Quest td:nth-child(3) {
	background-image: url('../images/quest.png');
}

#fp-collectorBody [class$=Event] td:nth-child(3) {
	background-image: url('../images/event.png') !important;
}

#fp-collectorBody .spoilsOfWar td:nth-child(3) {
	background-image: url('../images/spoils_of_war.png');
}

#fp-collectorBody .diplomaticGifts td:nth-child(3) {
	background-image: url('../images/diplomatic_gifts.png');
}

#fp-collectorBody .antiquesDealer td:nth-child(3) {
	background-image: url('../images/ant.png');
}

#fp-collectorBody .double_collection td:nth-child(3) {
	background-image: url('../../../../css/images/menu/BlueGalaxy.png');
}

#fp-collectorBody .dailyChallenges td:nth-child(3) {
	background-image: url('../images/dailyChallenges.png') !important;
}