#Investment {
	width: 370px;
	padding: 10px;
}

#Investment #InvestmentBody {
	overflow: auto;
}

#Investment #InvestmentBody strong {
	color: var(--text-bright);
}

#Investment #InvestmentBody #total-fp {
	margin-top: 10px;
}